html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.form-group {
    position: relative;
    /* border: 1px solid; */
    border: 1px solid darkgray;
    /*overflow: hidden;*/
}


    .form-group input {
        width: 100%;
        outline: none;
        border: 0;
        background-color: transparent;
        padding: 10px;
        font-size: 1em;
    }

    .form-group span {
        position: absolute;
        left: 10px;
        top: 10px;
        pointer-events: none;
        font-size: 1em;
        transition: 0.5s;
        color: darkgrey;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 90%;
    }

input:not(:placeholder-shown):not(:focus) + span {
    /* color: inherit; */
    color: darkgray;
    transform: translateX(-3px) translateY(-20px);
    font-size: 0.75em;
    padding: 0px 5px;
    background-color: white;
}

input:focus + span,
input:not(:placeholder-shown) + span {
    color: #5e94d7;
    transform: translateX(-3px) translateY(-20px);
    font-size: 0.75em !important;
    padding: 0px 5px;
    background-color: white;
}

.form-control:focus {
    box-shadow: none;
    background-color: transparent;
}

.form-group:focus-within,
.telephone:focus-within {
    border: 1px solid #5e94d7;
}



.selectedselectspan {
    color: inherit;
    color: darkgray;
    transform: translateX(-3px) translateY(-20px);
    font-size: 0.75em !important;
    padding: 0px 5px;
    background-color: transparent;
}

.form-group select {
    width: 100%;
    outline: none;
    border: 0;
    background-color: transparent;
    padding: 10px;
    font-size: 1em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(/res/downarrow.png) 96% / 3% no-repeat;
    transition: 0.3s;
}

    .form-group select:focus {
        background: url(/res/uparrow.png) 96% / 3% no-repeat;
    }

.telephone {
    position: relative;
    /* border: 1px solid; */
    border: 1px solid darkgray;
}

    .telephone input {
        width: 100%;
        outline: none;
        border: 0;
        background-color: transparent;
        padding: 12.5px 15px 12.5px 15px;
        font-size: 1em;
    }





.paginate_button,
.paginate_Nextbutton,
.paginate_Previousbutton,
.paginate_buttonNaN {
    border-radius: 20% !important;
    margin-left: 7px !important;
    padding: 0px !important;
    border: 1px solid #80808070 !important;
    font-size: medium;
    height: 35px !important;
    width: 35px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
}

    .paginate_button.current {
        background: #5e94d7 !important;
        color: #fff !important;
        border: none;
    }

    .paginate_button:hover {
        background: #5e94d7 !important;
    }

    .paginate_Nextbutton:hover,
    .paginate_Previousbutton:hover {
        background: #5e94d7 !important;
        color: white !important
    }


@media only screen and (max-width:700px) {


    .paginate_button,
    .paginate_Nextbutton,
    .paginate_Previousbutton, .paginate_buttonNaN {
        padding: 0px !important;
        border: 1px solid #80808070 !important;
        font-size: smaller;
        height: 25px !important;
        width: 25px !important;
    }

    .paginate_button,
    .paginate_Nextbutton,
    .paginate_Previousbutton,
    .paginate_buttonNaN {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .dataTables_info {
        font-size: small;
        font-weight: 600;
    }

    .dataTables_paginate {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 600;
    }

        .dataTables_paginate span {
            display: flex;
        }

    .paginate_button.current {
        background: #0dcaf0 !important;
        color: #fff !important;
        border: none;
    }


    .pagination_div {
        flex-wrap: wrap !important;
    }

        .pagination_div .info_div {
            width: 100% !important;
            text-align: center !important;
            justify-content: center;
            /*font-size: small;*/
            font-weight: 550;
        }
}
