@model HelloDoc.Areas.PatientArea.ViewModels.PatientDashboardViewModel;
<div class="container-fluid pb-5 mb-5">
    <div class="px-4">
        <div class="d-flex justify-content-between align-items-center py-3">
            <div class="h3 mb-0 fw-bold">User Profile</div>
            <div>
                <a asp-controller="Dashboard" asp-action="Dashboard">
                    <button class="d-flex babtn rounded align-item-center p-1 px-2">
                        <div><img src="~/res/back.png" width="15px" height="10px"></div>
                        <div><span>Back</span></div>
                    </button>
                </a>
            </div>
        </div>
        <div class="bg-light rounded p-3 shadow" id="content1">
            <form asp-action="Edit" asp-controller="Dashboard">
                <div>
                    <div class="h5 fw-bold">Patient Information</div>
                    <div class="row d-flex">
                        <div class="py-2 col-xl-6 col-md-6 col-sm-12 ">
                            <div class="form-group d-flex align-items-center rounded">
                                <input type="text" class="form-control" placeholder="" asp-for="User.Firstname"  disabled><span>First Name</span>
                            </div>
                            <span asp-validation-for="User.Firstname" class="text-danger"></span>
                        </div>
                        <div class="py-2 col-xl-6 col-md-6 col-sm-12 ">
                            <div class="form-group d-flex align-items-center rounded">
                                <input type="text" class="form-control" placeholder="" asp-for="User.Lastname"  disabled><span>Last Name</span>
                            </div>
                            <span asp-validation-for="User.Lastname" class="text-danger"></span>

                        </div>
                        <div class="py-2 col-xl-6 col-md-6 col-sm-12">
                            <div class="form-group d-flex align-items-center rounded">
                                @{
                                    string today = DateTime.Today.ToString("yyyy-MM-dd");
                                }
                                <input type="date" class="form-control" placeholder="" asp-for="birthdate" max=@today min="1940-01-01" disabled><span>Date of Birth</span>
                            </div>
                            <span asp-validation-for="birthdate" class="text-danger"></span>

                        </div>
                    </div>
                </div>
                <div class="mt-4">
                    <div class="h5 fw-bold">Patient Contact Information</div>
                    <div class="row d-flex">
                        <div class="py-2 col-xl-6 col-md-6 col-sm-12">
                            <div class="telephone rounded">
                                <div class="input-group d-flex align-items-center rounded ">
                                    <input type="tel"  id="tel" class="form-control" asp-for="User.Mobile" disabled>
                                </div>
                                <span asp-validation-for="User.Mobile" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="py-2 col-xl-6 col-md-6 col-sm-12 ">
                            <div class="form-group d-flex align-items-center rounded">
                                <input type="email" class="form-control" placeholder="" asp-for="User.Email"  id="patientEmail" disabled> <span>Email</span>
                            </div>
                            <span asp-validation-for="User.Email" class="text-danger"></span>

                        </div>
                    </div>
                </div>
                <div class="mt-4">
                    <div class="h5 fw-bold">Patient Location</div>
                    <div class="row d-flex">
                        <div class="py-2 col-xl-6 col-md-6 col-sm-12 ">
                            <div class="form-group d-flex align-items-center rounded">
                                <input type="text" class="form-control" placeholder="" asp-for="User.Street"  disabled><span>Street</span>
                            </div>
                            <span asp-validation-for="User.Street" class="text-danger"></span>

                        </div>
                        <div class="py-2 col-xl-6 col-md-6 col-sm-12 ">
                            <div class="form-group d-flex align-items-center rounded">
                                <input type="text" class="form-control" placeholder="" asp-for="User.City"  disabled><span>City</span>
                            </div>
                            <span asp-validation-for="User.City" class="text-danger"></span>

                        </div>
                        <div class="py-2 col-xl-6 col-md-6 col-sm-12">
                            <div class="form-group d-flex align-items-center rounded">
                                <input type="text" class="form-control" placeholder="" asp-for="User.State"  disabled><span>State</span>
                            </div>
                            <span asp-validation-for="User.State" class="text-danger"></span>

                        </div>
                        <div class="py-2 col-xl-6 col-md-6 col-sm-12 ">
                            <div class="form-group d-flex align-items-center rounded">
                                <input type="text" class="form-control" placeholder="" asp-for="User.Zip"  disabled><span>Zip Code</span>
                            </div>
                            <span asp-validation-for="User.Zip" class="text-danger"></span>

                        </div>
                    </div>
                </div>
                <div class="">
                    <div class="row d-flex justify-content-end">
                        <div class="py-2 col-xl-1 col-md-2 col-4 align-items-center">
                            <div class="form-group d-flex justify-content-end   border-0">
                                <a id="editButton" class="p-2 btn btn-info  rounded w-80 text-decoration-none " >
                                    <h5 class="text-white px-2 mb-0">Edit</h5>
                                </a>

                                <button id="saveButton" class="p-2 btn btn-info  rounded w-80" type="submit" hidden>
                                    <h5 class="text-white px-2 mb-0">Save</h5>
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        $('#editButton').click(function () {
            console.log("hjdscvgfhjav")
            // Remove disabled attribute to make inputs editable
            // $('#name').prop('disabled', false);
            // $('#age').prop('disabled', false);
            $('input[type="text"]').removeAttr('disabled', false);
            $('input[type="date"]').removeAttr('disabled', false);
            $('input[type="tel"]').removeAttr('disabled', false);
            $('input[type="email"]').removeAttr('disabled', false);
            // Hide the edit button after clicking it
            $(this).hide();
            $('#saveButton').removeAttr('hidden', false);
        });
    });
</script>
<script>

</script>