@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<footer class="text-muted">
    <div class="bg-dark d-flex justify-content-end py-2 mt-auto position-fixed bottom-0  w-100" id="bg">
        <span class="fw-medium px-2  "><a href="#" class="text-secondary">Terms and Condition</a></span>
        <span class="fw-medium px-2  "><a href="#" class="text-secondary"> | </a></span>
        <span class="fw-medium px-2  "><a href="#" class="text-secondary">Privacy Policy</a></span>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
@*<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@
<script src="~/js/nightmode.js"></script>
<script src="~/js/requestform.js"></script>
<script src="~/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
<script>
    const phoneInputField = document.querySelector("#tel");
    const phoneInput = window.intlTelInput(phoneInputField, {
        utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
    });
    const phoneInputField1 = document.querySelector("#tel1");
    const phoneInput1 = window.intlTelInput(phoneInputField1, {
        utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
    });
</script>
</html>
