@model HelloDoc.Areas.Patient.ViewModels.PatientDashboardViewModel;
<div class="container-fluid pb-5 mb-5">
    <div class="px-4">
            <div class="d-flex subinfodiv align-items-center py-3">
                <div class="h3 subinfotext fw-bold">User Profile</div>
                <div>
                    <a asp-controller="Dashboard" asp-action="Dashboard">
                        <button class="d-flex babtn rounded align-item-center p-1 px-2">
                            <div><img src="~/back.png" width="15px" height="10px"></div>
                            <div><span>Back</span></div>
                        </button>
                    </a>
                </div>
            </div>
    <div class="bglight rounded p-3 shadow" id="content">
        <form asp-action="Edit" asp-controller="Dashboard" asp-route-id="@Model.User.Userid">    
            <div>
                <div class="h5 fw-bold">Patient Information</div>
                <div class="row d-flex">
                    <div class="py-2 col-xl-6 col-md-6 col-sm-12 ">
                        <div class="form-group d-flex align-items-center rounded">
                                <input type="text" class="form-control" placeholder="" asp-for="User.Firstname" required="required"><span>First Name</span>
                        </div>
                    </div>
                    <div class="py-2 col-xl-6 col-md-6 col-sm-12 ">
                        <div class="form-group d-flex align-items-center rounded">
                                <input type="text" class="form-control" placeholder="" asp-for="User.Lastname" required="required"><span>Last Name</span>
                        </div>
                    </div>
                    <div class="py-2 col-xl-6 col-md-6 col-sm-12">
                        <div class="form-group d-flex align-items-center rounded">
                                <input type="date" class="form-control" placeholder="" asp-for="birthdate" required="required"><span>Date of Birth</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-4">
                <div class="h5 fw-bold">Patient Contact Information</div>
                <div class="row d-flex">
                    <div class="py-2 col-xl-6 col-md-6 col-sm-12">
                        <div class="telephone rounded">
                            <div class="input-group d-flex align-items-center rounded ">
                                    <input type="tel" id="tel" class="form-control" asp-for="User.Mobile">
                            </div>
                        </div>
                    </div>
                    <div class="py-2 col-xl-6 col-md-6 col-sm-12 ">
                        <div class="form-group d-flex align-items-center rounded">
                                <input type="email" class="form-control" placeholder="" asp-for="User.Email" required="required" id="patientEmail"> <span>Email</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-4">
                <div class="h5 fw-bold">Patient Location</div>
                <div class="row d-flex">
                    <div class="py-2 col-xl-6 col-md-6 col-sm-12 ">
                        <div class="form-group d-flex align-items-center rounded">
                                <input type="text" class="form-control" placeholder="" asp-for="User.Street" required="required"><span>Street</span>
                        </div>
                    </div>
                    <div class="py-2 col-xl-6 col-md-6 col-sm-12 ">
                        <div class="form-group d-flex align-items-center rounded">
                                <input type="text" class="form-control" placeholder="" asp-for="User.City" required="required"><span>City</span>
                        </div>
                    </div>
                    <div class="py-2 col-xl-6 col-md-6 col-sm-12">
                        <div class="form-group d-flex align-items-center rounded">
                                <input type="text" class="form-control" placeholder="" asp-for="User.State" required="required"><span>State</span>
                        </div>
                    </div>
                    <div class="py-2 col-xl-6 col-md-6 col-sm-12 ">
                        <div class="form-group d-flex align-items-center rounded">
                                <input type="text" class="form-control" placeholder="" asp-for="User.Zip" required="required"><span>Zip Code</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="">
                <div class="row d-flex justify-content-end">
                    <div class="py-2 col-xl-1 col-md-2 col-4 align-items-center">
                        <div class="form-group d-flex   border-0">
                            <button class="p-2 babtn rounded w-100" type="submit">
                                Edit
                            </button>
                        </div>
                    </div>
        
                </div>
            </div>
        </form>
    </div>
    </div>
</div>
