<div class="modal fade" id="ModalToOpen" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header p-2 px-4 bg-info">
                <h5 class="modal-title text-white">Create Shift</h5>
                <button type="button" class="btn" data-dismiss="modal" aria-label="Close">
                    <i class="fa-solid fa-xmark text-white"></i>
                </button>
            </div>
            <div class="modal-body">
                <form method="Post">
                    <div class="form-group d-flex align-items-center rounded my-3">
                        <select class="form-select shadow-none drawbyregiondropdown">
                            <option value="0">All Region</option>
                        </select>
                        <span class="selectedselectspan">Region</span>
                    </div>
                    <div class="form-group d-flex align-items-center rounded my-3">
                        <select class="form-select shadow-none drawphysician">
                        </select>
                        <span class="selectedselectspan">Physician</span>
                    </div>
                    <div class="form-group d-flex align-items-center rounded my-3">
                        @{
                            string today = DateTime.Today.ToString("yyyy-MM-dd");
                        }
                        <input type="date" class="form-control" placeholder="" min=@today><span>Shift Date</span>
                    </div>
                    <div class="d-flex row my-3">
                        <div class="col-xl-6 col-md-6 col-sm-12">
                            <div class="form-group d-flex align-items-center rounded">
                                <input id="startTime" type="time" class="form-control" placeholder=""><span>Start</span>
                            </div>
                        </div>
                        <div class="col-xl-6 col-md-6 col-sm-12">
                            <div class="form-group d-flex align-items-center rounded">
                                <input id="endTime" type="time" class="form-control" placeholder=""><span>end</span>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex align-items-center gap-3">
                        <span>Repeat : </span>
                        <input class="tgl tgl-light" id="repeatonoff" type="checkbox"/>
                        <label class="tgl-btn" for="repeatonoff"></label>
                    </div>
                    <div class="small">
                        <span>Repeat Days</span>
                        <div>
                            <div class="form-check form-check-inline ">
                                <input type="checkbox" class="form-check-input" name="repeatdays" id="Monday" />
                                <label for="Monday">Every Monday</label>
                            </div>
                            <div class="form-check form-check-inline ">
                                <input type="checkbox" class="form-check-input" name="repeatdays" id="Tuesday" />
                                <label for="Tuesday">Every Tuesday</label>
                            </div>
                            <div class="form-check form-check-inline ">
                                <input type="checkbox" class="form-check-input" name="repeatdays" id="Wednesday" />
                                <label for="Wednesday">Every Wednesday</label>
                            </div>
                            <div class="form-check form-check-inline ">
                                <input type="checkbox" class="form-check-input" name="repeatdays" id="Thursday" />
                                <label for="Thursday">Every Thursday</label>
                            </div>
                            <div class="form-check form-check-inline ">
                                <input type="checkbox" class="form-check-input" name="repeatdays" id="Friday" />
                                <label for="Friday">Every Friday</label>
                            </div>
                            <div class="form-check form-check-inline ">
                                <input type="checkbox" class="form-check-input" name="repeatdays" id="Saturday" />
                                <label for="Saturday">Every Saturday</label>
                            </div>
                            <div class="form-check form-check-inline ">
                                <input type="checkbox" class="form-check-input" name="repeatdays" id="Sunday" />
                                <label for="Sunday">Every Sunday</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group d-flex align-items-center rounded my-3">
                        <select class="form-select shadow-none drawrepeat">
                            <option value="2">2-times</option>
                            <option value="3">3-times</option>
                            <option value="4">4-times</option>
                            <option value="4">4-times</option>
                        </select>
                        <span class="selectedselectspan">Repeat Times</span>
                    </div>
                    <div class="d-flex float-end mt-4">
                        <button type="button" id="Contactconfirmbutton" class=" p-2 px-3 text-white bg-info rounded border-info  mx-2 shadow-none ">Save</button>
                        <button type="button" id="ContactCancelbutton" class="btn border-info text-info shadow-none" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    $.ajax({
        url: '/AdminArea/Dashboard/GetRegion',
        success: function (data) {
            var drawbyregiondropdown = $('.drawbyregiondropdown');
            $.each(data, function (index, regions) {
                drawbyregiondropdown.append($('<option>', {
                    value: regions.regionid,
                    text: regions.name
                }))
            });
        }
    });
    getphysician(0);
    function getphysician(regionid) {
        $.ajax({
            url: 'AdminArea/Dashboard/GetPhysicianByRegion',
            type: 'POST',
            data: { regionid: regionid },
            success: function (data) {
                console.log(data);
                var physiciandropdown = $('.drawphysician');
                physiciandropdown.empty();
                physiciandropdown.append($('<option>', {
                    hidden: "hidden",
                    value: "invalid",
                    text: "Select Physician"
                }))
                if (data.length == 0) {
                    physiciandropdown.append($('<option>', {
                        value: "invalid",
                        disabled: "disabled",
                        text: "No Physician in this area",
                        style: "color : red"
                    }))
                }
                else {
                    $.each(data, function (index, phy) {
                        physiciandropdown.append($('<option>', {
                            value: phy.physicianid,
                            text: phy.firstname + " " + phy.lastname
                        }))
                    });
                }
            }
        });
    }

    $('.drawbyregiondropdown').on('change', function () {
        var regionid = $(this).val();
        getphysician(regionid)
    });

    $(document).ready(function () {
        $('#startTime, #endTime').on('change', function () {
            var startTime = $('#startTime').val();
            var endTime = $('#endTime').val();

            if (startTime && endTime) {
                if (startTime > endTime) {
                    alert('End time cannot be earlier than start time');
                    $('#endTime').val('');
                }
            }
        });
    });
    repeatdrop(!$('#repeatonoff').prop('checked'));
    $('#repeatonoff').on('change', function () {
        repeatdrop(!$('#repeatonoff').prop('checked'));
    });
    function repeatdrop(bool){
        $('.drawrepeat').prop('disabled' , bool);
    }



</script>


<style>
    .tgl {
        display: none;
    }

        .tgl,
        .tgl:after,
        .tgl:before,
        .tgl *,
        .tgl *:after,
        .tgl *:before,
        .tgl + .tgl-btn {
            box-sizing: border-box;
        }

            .tgl::selection {
                background: none;
            }

            .tgl + .tgl-btn {
                outline: 0;
                display: block;
                width: 2em;
                height: 1em;
                position: relative;
                cursor: pointer;
                user-select: none;
            }

                .tgl + .tgl-btn:after,
                .tgl + .tgl-btn:before {
                    position: relative;
                    display: block;
                    content: "";
                    width: 50%;
                    height: 100%;
                }

                .tgl + .tgl-btn:after {
                    left: 0;
                }

                .tgl + .tgl-btn:before {
                    display: none;
                }

            .tgl:checked + .tgl-btn:after {
                left: 50%;
            }

    .tgl-light + .tgl-btn {
        background: #f0f0f0;
        border-radius: 2em;
        padding: 2px;
        transition: all 0.4s ease;
    }

        .tgl-light + .tgl-btn:after {
            border-radius: 50%;
            background: #fff;
            transition: all 0.2s ease;
        }

    .tgl-light:checked + .tgl-btn {
        background: #0dcaf0;
    }

</style>
