@{
    //Layout = null;
}
@{
    ViewData["Title"] = "Invoicing";
}
<h1>Invoicing</h1>

<script>
    localStorage.setItem('target', "#invoicing");
    var target = localStorage.getItem('target');
    $('.maintabs').removeClass('active');
    $('.accordianmaintabs').removeClass('active');
    $('.maintabs[data-bs-target="' + target + '"]').addClass('active');
    $('.accordianmaintabs[data-bs-target="' + target + '"]').addClass('active');
</script>