@{
    Layout = "_SchedulerLayout";
}
<div class="container">
    <div class="d-flex justify-content-between">
        <div class="h3 subinfotext fw-bold">MDs On Call </div>
    </div>
    <div class="d-flex justify-content-between align-items-center">
        <div>
            <select class="form-select  mb-0 fs-6 form-control drawbyregiondropdown">
                <option value="0">All Region</option>
            </select>
        </div>
        <div class="d-flex gap-2">
            <button style="background-color: #1C5E1F; border-color: #1C5E1F; color: white !important; " class="p-2px-3mx-2 text-white rounded d-flex align-items-center" id="monthview">
                <span>View Current Month Shifts</span>
            </button>
            <button style="background-color: #2E7D32; border-color: #2E7D32; color: white !important; " class="p-2px-3mx-2 text-white rounded d-flex align-items-center" id="approveselected">
                <span>Approved Selected</span>
            </button>
            <button style="background-color: #D32F2F; border-color: #D32F2F; color: white !important; " class="p-2px-3mx-2 text-white rounded d-flex align-items-center" id="deleteselected">
                <span>Delete Selected</span>
            </button>
        </div>
    </div>
</div>

<script src="~/js/ShiftsAgenda.js" asp-append-version="true"></script>