<nav>
    <div class="nav nav-tabs row" id="status-tab" role="tablist">
        <div class="allstatus ">
            <button class="w-100 nav-link active position-relative" id="status-new" data-bs-toggle="tab" data-bs-target="#s_new" type="button" role="tab" aria-controls="s_new" aria-selected="true">
                <div class="p-2 new rounded">
                    <div class="d-flex">
                        <div class="px-2 icons float-start small"><i class="bi bi-plus-circle-dotted"></i></div><div class="small fw-bold">NEW</div>
                    </div>
                    <div class="fw-bolder fs-4 p-2 text-start">1230</div>
                </div>
                <div class="bottomarrow"></div>
            </button>
        </div>
        <div class="allstatus">
            <button class="nav-link position-relative w-100" id="status-pending" data-bs-toggle="tab" data-bs-target="#s_pending" type="button" role="tab" aria-controls="s_pending" aria-selected="false">
                <div class="p-2 pending rounded-2">
                    <div class="d-flex">
                        <div class="px-2 icons  float-start small"><i class="bi bi-plus-circle-dotted"></i></div><div class="small fw-bold">PENDING</div>
                    </div>
                    <div class="fw-bolder fs-4 p-2 text-start">1230</div>
                </div>
                <div class="bottomarrow"></div>
            </button>
        </div>
        <div class="allstatus">
            <button class="nav-link position-relative w-100" id="status-active" data-bs-toggle="tab" data-bs-target="#s_active" type="button" role="tab" aria-controls="s_active" aria-selected="false">
                <div class="p-2 activecase rounded-2">
                    <div class="d-flex">
                        <div class="px-2 icons  float-start small"><i class="bi bi-plus-circle-dotted"></i></div><div class="small fw-bold">ACTIVE</div>
                    </div>
                    <div class="fw-bolder fs-4 p-2 text-start">1230</div>
                </div>
                <div class="bottomarrow"></div>
            </button>
        </div>
        <div class="allstatus">
            <button class="nav-link position-relative w-100" id="status-conclude" data-bs-toggle="tab" data-bs-target="#s_conclude" type="button" role="tab" aria-controls="s_conclude" aria-selected="false">
                <div class="p-2 conclude rounded-2">
                    <div class="d-flex">
                        <div class="px-2  icons float-start small"><i class="bi bi-plus-circle-dotted"></i></div><div class="small fw-bold">CONCLUDE</div>
                    </div>
                    <div class="fw-bolder fs-4 p-2 text-start">1230</div>
                </div>
                <div class="bottomarrow"></div>
            </button>
        </div>
        <div class="allstatus">
            <button class="nav-link position-relative w-100" id="status-toclose" data-bs-toggle="tab" data-bs-target="#s_toclose" type="button" role="tab" aria-controls="s_toclose" aria-selected="false">
                <div class="p-2 toclose rounded-2">
                    <div class="d-flex">
                        <div class="px-2 icons  float-start small"><i class="bi bi-plus-circle-dotted"></i></div><div class="small fw-bold">TO CLOSE</div>
                    </div>
                    <div class="fw-bolder fs-4 p-2 text-start">1230</div>
                </div>
                <div class="bottomarrow"></div>
            </button>
        </div>
        <div class="allstatus">
            <button class="nav-link position-relative w-100" id="status-unpaid" data-bs-toggle="tab" data-bs-target="#s_unpaid" type="button" role="tab" aria-controls="s_unpaid" aria-selected="false">
                <div class="p-2 unpaid rounded-2">
                    <div class="d-flex">
                        <div class="px-2 icons  float-start small"><i class="bi bi-plus-circle-dotted"></i></div><div class="small fw-bold">UNPAID</div>
                    </div>
                    <div class="fw-bolder fs-4 p-2 text-start">1230</div>
                </div>
                <div class="bottomarrow"></div>
            </button>
        </div>
    </div>
</nav>

<div class="tab-content" id="status-tabContent">
    <div class="tab-pane fade show active" id="s_new" role="tabpanel" aria-labelledby="status-new">
        New
    </div>
    <div class="tab-pane fade" id="s_pending" role="tabpanel" aria-labelledby="status-panding">
        Pending
    </div>
    <div class="tab-pane fade" id="s_active" role="tabpanel" aria-labelledby="status-active">
        Active
    </div>
    <div class="tab-pane fade" id="s_conclude" role="tabpanel" aria-labelledby="status-conclude">
        Conclude
    </div>
    <div class="tab-pane fade" id="s_toclose" role="tabpanel" aria-labelledby="status-toclose">
        To Close
    </div>
    <div class="tab-pane fade" id="s_unpaid" role="tabpanel" aria-labelledby="status-unpaid">
        Unpaid
    </div>
</div>







