@{
    //Layout = null;
}
@{
    ViewData["Title"] = "Partners";
}
<div class="container-fluid">
    <div class="d-flex justify-content-between">
        <div class="h3 fw-bold">Vendors</div>
    </div>
    <div>
        <div class="bg-light rounded my-3 shadow" id="content">
            <div class="p-3 px-4 d-flex justify-content-between">
                <div class="d-flex gap-3">
                    <div><input type="search" placeholder="Search" id="searchInput" class="form-control rounded" /></div>
                    <div>
                        <select class="form-select  mb-0 fs-6 form-control professions">
                            <option value="0">All Professions</option>
                        </select>
                    </div>
                </div>
                <div>
                    <button class="p-2px-3mx-2 text-info bg-transparent rounded border-info d-flex align-items-center editorcreate" data-id="CreateNew" id="createaccountpage">
                        <i class="bi bi-plus-square"></i>
                        <span class="d-none d-lg-block ps-2">Add Business</span>
                    </button>
                </div>
            </div>
            <div class="table-responsive" id="_Vendordetail">
            </div>
        </div>
    </div>
</div>
<script>
    localStorage.setItem('target', "#nav-Partners");
    var target = localStorage.getItem('target');
    $('.maintabs').removeClass('active');
    $('.accordianmaintabs').removeClass('active');
    $('.maintabs[data-bs-target="' + target + '"]').addClass('active');
    $('.accordianmaintabs[data-bs-target="' + target + '"]').addClass('active');
</script>
<script src="~/js/Vendors.js" asp-append-version="true"></script>