@using HelloDoc.Areas.Patient.ViewModels;
@{
    ViewData["Title"] = "\"Submit Request As - Concierge\"";
}
@Html.Partial("_InfoModel")
@model ConciergeRequestViewModel
<div class="container pb-5 mb-5">
    <div class="d-flex subinfodiv align-items-center py-3">
        <div class="h3 subinfotext fw-bold">Submit Information</div>
        <div>
            <a asp-controller="Home" asp-action="PatientRequestScreen">
                <button class="d-flex babtn rounded align-item-center p-1 px-2">
                    <div><img src="~/back.png" width="15px" height="10px"></div>
                    <div><span>Back</span></div>
                </button>
            </a>
        </div>
    </div>
    <form asp-controller="ConciergeRequestForm" asp-action="ConciergeRequest" method="post">
        <div class="bglight rounded p-3 shadow" id="content">
            <div>

                <div class="h5 fw-bold">Concierge Information</div>
                <div class="row d-flex">
                    <div class="py-2 col-xl-6 col-md-6 col-sm-12 ">
                        <div class="form-group d-flex align-items-center rounded">
                            <input type="textbox" class="form-control" placeholder="" asp-for="C_FirstName" required="required"><span>Your First Name</span>
                        </div>
                    </div>
                    <div class="py-2 col-xl-6 col-md-6 col-sm-12 ">
                        <div class="form-group d-flex align-items-center rounded">
                            <input type="textbox" class="form-control" placeholder="" asp-for="C_LastName" required="required"><span>Your Last Name</span>
                        </div>
                    </div>
                    <div class="py-2 col-xl-6 col-md-6 col-sm-12">
                        <div class="telephone rounded">
                            <div class="input-group d-flex align-items-center rounded ">
                                <input type="tel" id="tel" class="form-control" asp-for="C_Phone">
                            </div>
                        </div>
                    </div>
                    <div class="py-2 col-xl-6 col-md-6 col-sm-12 ">
                        <div class="form-group d-flex align-items-center rounded">
                            <input type="email" class="form-control" placeholder="" asp-for="C_Email" required="required"><span>Your Email</span>
                        </div>
                    </div>
                    <div class="py-2 col-xl-6 col-md-6 col-sm-12 ">
                        <div class="form-group d-flex align-items-center rounded">
                            <input type="textbox" class="form-control" placeholder="" asp-for="HostelName" required="required"><span>Hotel/Property Name</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-4">
                <div class="h5 fw-bold">Concierge Location</div>
                <div class="row d-flex">
                    <div class="py-2 col-xl-6 col-md-6 col-sm-12 ">
                        <div class="form-group d-flex align-items-center rounded">
                            <input type="textbox" class="form-control" placeholder="" maxlength="50" asp-for="C_Street" required="required"><span>Street</span>
                        </div>
                    </div>
                    <div class="py-2 col-xl-6 col-md-6 col-sm-12 ">
                        <div class="form-group d-flex align-items-center rounded">
                            <input type="textbox" class="form-control" placeholder="" asp-for="C_City" required="required"><span>City</span>
                        </div>
                    </div>
                    <div class="py-2 col-xl-6 col-md-6 col-sm-12">
                        <div class="form-group d-flex align-items-center rounded">
                            <input type="textbox" class="form-control" placeholder="" asp-for="C_State" required="required"><span>State</span>
                        </div>
                    </div>
                    <div class="py-2 col-xl-6 col-md-6 col-sm-12 ">
                        <div class="form-group d-flex align-items-center rounded">
                            <input type="textbox" class="form-control" placeholder="" asp-for="C_ZipCode" required="required"><span>Zip Code</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-4">
                <div class="h5 fw-bold">Patient Information</div>
                <div class="row d-flex">
                    <div class="py-2 col-12 ">
                        <div class="form-group rounded d-flex align-items-center">
                            <textarea class="form-control" placeholder=" " asp-for="Symptopmps" rows="3"></textarea><span>Enter Brief Details Of Symptomps (Optional)</span>
                        </div>
                    </div>
                    <div class="py-2 col-xl-6 col-md-6 col-sm-12 ">
                        <div class="form-group d-flex align-items-center rounded">
                            <input type="textbox" class="form-control" placeholder="" asp-for="FirstName" required="required"><span>First Name</span>
                        </div>
                    </div>
                    <div class="py-2 col-xl-6 col-md-6 col-sm-12 ">
                        <div class="form-group d-flex align-items-center rounded">
                            <input type="textbox" class="form-control" placeholder="" asp-for="LastName" required="required"><span>Last Name</span>
                        </div>
                    </div>
                    <div class="py-2 col-xl-6 col-md-6 col-sm-12">
                        <div class="form-group d-flex align-items-center rounded">
                            <input type="date" class="form-control" placeholder="" asp-for="BirthDate" required="required"><span>Date of Birth</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-4">
                <div class="h5 fw-bold">Patient Contact Information</div>
                <div class="row d-flex">
                    <div class="py-2 col-xl-6 col-md-6 col-sm-12 ">
                        <div class="form-group d-flex align-items-center rounded">
                            <input type="email" class="form-control" placeholder="" asp-for="Email" required="required"><span>Email</span>
                        </div>
                    </div>
                    <div class="py-2 col-xl-6 col-md-6 col-sm-12">
                        <div class="telephone rounded">
                            <div class="input-group d-flex align-items-center rounded ">
                                <input type="tel" id="tel1" class="form-control" asp-for="Phone">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-4">
                <div class="h5 fw-bold">Patient Location</div>
                <div class="row d-flex">
                    <div class="py-2 col-xl-6 col-md-6 col-sm-12 ">
                        <div class="form-group d-flex align-items-center rounded">
                            <input type="textbox" class="form-control" placeholder="" asp-for="Room" required="required"><span>Room # / Suite (Optional)</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="">
                <div class="row d-flex justify-content-end">
                    <div class="p-2 col-xl-1 col-md-2 col-4 align-items-center">
                        <div class="form-group d-flex  border-0">
                            <button type="submit" class="p-2 uploadbtn rounded w-100  border-0">
                                Submit
                            </button>
                        </div>
                    </div>
                    <div class="py-2 col-xl-1 col-md-2 col-4 align-items-center">
                        <div class="form-group d-flex   border-0">
                            <button type="reset" class="p-2 babtn rounded w-100">
                                Cancel
                            </button>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </form>
</div>