@{
    Layout = "_Layout";
    int id = (int)Context.Session.GetInt32("PhysicianId");
    string username = Context.Session.GetString("UserName");
}

<nav style="background-color:white" class="resstartpadding">
    <div class="mainnav">
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link maintabs me-3" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Dashboard</button>
            <button class="nav-link maintabs me-3" data-bs-toggle="tab" data-bs-target="#nav-invoice" type="button" role="tab" aria-controls="nav-ProviderLocation" aria-selected="false">Invoice</button>
            <button class="nav-link maintabs me-3" data-bs-toggle="tab" data-bs-target="#nav-schedule" type="button" role="tab" aria-controls="nav-schedule" aria-selected="false">My Schedule</button>
            <button class="nav-link maintabs me-3" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">My Profile</button>
        </div>
    </div>
</nav>

<div class="position-relative">
    <div class="offcanvas offcanvas-start position-absolute" data-bs-scroll="false" style="width:65%" tabindex="-1" id="layoutnav" aria-labelledby="offcanvasWithBackdropLabel">
        <span class="p-2 "> <span class="small">Welcome , </span><b>@username</b></span>
        <div class="maintabsul">
            <div class="accordianmaintabs" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Dashboard</div>
            <div class="accordianmaintabs" data-bs-toggle="tab" data-bs-target="#nav-invoice" type="button" role="tab" aria-controls="nav-ProviderLocation" aria-selected="false">Invoice</div>
            <div class="accordianmaintabs" data-bs-toggle="tab" data-bs-target="#nav-schedule" type="button" role="tab" aria-controls="nav-Profile" aria-selected="false">My Schedule</div>
            <div class="accordianmaintabs" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-Profile" aria-selected="false">My Profile</div>
        </div>
    </div>
    <div class="tab-content respadding" id="nav-tabContent">
    </div>
</div>
@if (TempData["Message"] != null)
{
    <script>
        Swal.fire({
            position: "top-end",
            icon: "success",
            title: "@TempData["Message"]",
            showConfirmButton: false,
            timer: 1000
        });
    </script>
}
<partial id="PopUps" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
<script src="~/js/forphysiciantabslayout.js" asp-append-version="true"></script>