@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model IEnumerable<HelloDoc.DataModels.Request>;

<div class="d-flex subinfodiv align-items-center py-3">
    <div class="h3 subinfotext fw-bold">Medical History </div>
</div>
<div class="bglight rounded p-3 shadow" id="content">
    <div class="d-flex justify-content-end">
        <a asp-controller="Dashboard" asp-action="Dashboard">
            <button class="d-flex babtn rounded align-item-center p-1 px-2">
                <div class="plusimg"><i class="bi bi-plus-lg"></i></div>
                <div class="cnr"><span>Create New request</span></div>
            </button>
        </a>
    </div>
    <div>
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Created Date</th>
                    <th scope="col">Current Status</th>
                    <th scope="col">Document</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var m in Model)
                {
                    <tr>
                        <th>@m.Createddate</th>
                        <th>@m.Createduserid</th>
                        <th>@m.Requestid</th>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>