@model HelloDoc.DataModels.Request

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Request</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Requestid" />
            <div class="form-group">
                <label asp-for="Requesttypeid" class="control-label"></label>
                <select asp-for="Requesttypeid" class="form-control" asp-items="ViewBag.Requesttypeid"></select>
                <span asp-validation-for="Requesttypeid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Userid" class="control-label"></label>
                <select asp-for="Userid" class="form-control" asp-items="ViewBag.Userid"></select>
                <span asp-validation-for="Userid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Firstname" class="control-label"></label>
                <input asp-for="Firstname" class="form-control" />
                <span asp-validation-for="Firstname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lastname" class="control-label"></label>
                <input asp-for="Lastname" class="form-control" />
                <span asp-validation-for="Lastname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phonenumber" class="control-label"></label>
                <input asp-for="Phonenumber" class="form-control" />
                <span asp-validation-for="Phonenumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Physicianid" class="control-label"></label>
                <select asp-for="Physicianid" class="form-control" asp-items="ViewBag.Physicianid"></select>
                <span asp-validation-for="Physicianid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Confirmationnumber" class="control-label"></label>
                <input asp-for="Confirmationnumber" class="form-control" />
                <span asp-validation-for="Confirmationnumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Createddate" class="control-label"></label>
                <input asp-for="Createddate" class="form-control" />
                <span asp-validation-for="Createddate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Isdeleted" class="control-label"></label>
                <input asp-for="Isdeleted" class="form-control" />
                <span asp-validation-for="Isdeleted" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Modifieddate" class="control-label"></label>
                <input asp-for="Modifieddate" class="form-control" />
                <span asp-validation-for="Modifieddate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Declinedby" class="control-label"></label>
                <input asp-for="Declinedby" class="form-control" />
                <span asp-validation-for="Declinedby" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Isurgentemailsent" class="control-label"></label>
                <input asp-for="Isurgentemailsent" class="form-control" />
                <span asp-validation-for="Isurgentemailsent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lastwellnessdate" class="control-label"></label>
                <input asp-for="Lastwellnessdate" class="form-control" />
                <span asp-validation-for="Lastwellnessdate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ismobile" class="control-label"></label>
                <input asp-for="Ismobile" class="form-control" />
                <span asp-validation-for="Ismobile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Calltype" class="control-label"></label>
                <input asp-for="Calltype" class="form-control" />
                <span asp-validation-for="Calltype" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Completedbyphysician" class="control-label"></label>
                <input asp-for="Completedbyphysician" class="form-control" />
                <span asp-validation-for="Completedbyphysician" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lastreservationdate" class="control-label"></label>
                <input asp-for="Lastreservationdate" class="form-control" />
                <span asp-validation-for="Lastreservationdate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Accepteddate" class="control-label"></label>
                <input asp-for="Accepteddate" class="form-control" />
                <span asp-validation-for="Accepteddate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Relationname" class="control-label"></label>
                <input asp-for="Relationname" class="form-control" />
                <span asp-validation-for="Relationname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Casenumber" class="control-label"></label>
                <input asp-for="Casenumber" class="form-control" />
                <span asp-validation-for="Casenumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ip" class="control-label"></label>
                <input asp-for="Ip" class="form-control" />
                <span asp-validation-for="Ip" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Casetag" class="control-label"></label>
                <input asp-for="Casetag" class="form-control" />
                <span asp-validation-for="Casetag" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Casetagphysician" class="control-label"></label>
                <input asp-for="Casetagphysician" class="form-control" />
                <span asp-validation-for="Casetagphysician" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Patientaccountid" class="control-label"></label>
                <input asp-for="Patientaccountid" class="form-control" />
                <span asp-validation-for="Patientaccountid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Createduserid" class="control-label"></label>
                <input asp-for="Createduserid" class="form-control" />
                <span asp-validation-for="Createduserid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
