@{
    ViewData["Title"] = "Forget Password Page";
}
@{
    Layout = "_Styles";
}
@model HelloDoc.DataModels.Aspnetuser ;

<div class="main d-flex py-2 flex-column imain">
    <div class="bgimage">
        <img src="~/res/7768657_3763028.png" alt="" id="bgimage">
    </div>
    <div class="d-flex justify-content-around position-relative">
        <div class="logo">
            <img src="~/res/Logo.png" class="logo">
        </div>
    </div>
    <div class="cmain">
        <div class="content">
            <div>
                <a asp-action="Index">
                    <button class="d-flex babtn border-0 rounded align-items-center p-1 px-2">
                        <div class="d-flex"><img src="~/res/back.png" width="15px" height="15px"></div>
                        <div class="px-1"><span>Back</span></div>
                    </button>
                </a>
            </div>
            <div class="py-2">
                <span class="h2 ps-2">Reset Your Password</span>
            </div>
            <form asp-action="PatientResetPassword" asp-controller="Home" method="post"> 
                <div class="py-2">
                    <div class="my-2 form-group d-flex align-items-center rounded">
                        <input type="email" class="form-control" placeholder="" required="required" asp-for="Email"><span>Email</span>
                        <label class="px-2"><i class="fa-regular fa-circle-user"></i></label>
                    </div>
                    <div class="py-2 form-group border-0">
                        <button class="form-control subbtn" type="submit">Reset Password</button>
                    </div>
                </div>
            </form>
            <div class="d-flex justify-content-center"><a asp-action="PatientLogin">Back To Login</a></div>
        </div>
    </div>


    <div class="bggray d-flex justify-content-center py-2 mt-auto  position-relative" id="bg">
        <span class="fw-medium px-2  "><a href="#" class="text-secondary">Terms and Condition</a></span>
        <span class="fw-medium px-2  "><a href="#" class="text-secondary"> | </a></span>
        <span class="fw-medium px-2  "><a href="#" class="text-secondary">Privacy Policy</a></span>
    </div>
</div>
<div class="modebtn">
    <button style="background-color: transparent;" class="border-1 rounded" id="btn1">
        <i class="fa-solid fa-sun fa-spin fa-xl" id="imgmode"></i>
    </button>
</div>