@{
    ViewData["Title"] = "Login Page";
}

@model HelloDoc.DataModels.Aspnetuser;
@{
    Layout = "_Styles";
}
<div class="main d-flex py-2 flex-column imain">
    <div class="bgimage">
        <img src="~/res/7768657_3763028.png" alt="" id="bgimage">
    </div>
    <div class="d-flex justify-content-around position-relative">
        <div class="logo">
            <img src="~/res/Logo.png" class="logo">
        </div>
    </div>
    <div class="cmain">
        <div class="content">
            
            <div class="py-2">
                <span class="h2 ps-2">Reset Password</span>
            </div>
            <form asp-controller="Home" asp-action="ResetPassword" method="post">
                <div class="py-2">
                    <input type="hidden" asp-for="Email"/>
                    <div class="my-2 form-group d-flex align-items-center rounded">
                        <input type="password" asp-for="Passwordhash" id="showpass1" class="form-control" placeholder="" required="required"><span>Password</span>
                        <label id="eyeiconlabel1" class="px-2"><i class="fa-regular fa-eye-slash" id="eyeicon1"></i></label>
                    </div>
                    <div class="my-2 form-group d-flex align-items-center rounded">
                        <input type="password" asp-for="Passwordhash" id="showpass" class="form-control" placeholder="" required="required"><span>Confirm Password</span>
                        <label id="eyeiconlabel" class="px-2"><i class="fa-regular fa-eye-slash" id="eyeicon"></i></label>
                    </div>
                    <div class="py-2 form-group border-0">
                        <button class="form-control subbtn" type="submit">Reset</button>
                    </div>
                </div>
                <div class="d-flex justify-content-center"><a asp-action="PatientLogin">Log In</a></div>
            </form>
        </div>
    </div>


    <div class="bggray d-flex justify-content-center py-2 mt-auto  position-relative" id="bg">
        <span class="fw-medium px-2  "><a href="#" class="text-secondary">Terms and Condition</a></span>
        <span class="fw-medium px-2  "><a href="#" class="text-secondary"> | </a></span>
        <span class="fw-medium px-2  "><a href="#" class="text-secondary">Privacy Policy</a></span>
    </div>
</div>
<div class="modebtn">
    <button style="background-color: transparent;" class="border-1 rounded" id="btn1">
        <i class="fa-solid fa-sun fa-spin fa-xl" id="imgmode"></i>
    </button>
</div>

<script>
    const eyeiconlabel = document.getElementById('eyeiconlabel');
    const eyeicon = document.getElementById('eyeicon');
    const showpass = document.getElementById('showpass');
    eyeiconlabel.addEventListener("click", () => {
        if (showpass.type === "text") {
            showpass.type = "password";
            eyeicon.classList.remove("fa-eye");
            eyeicon.classList.add("fa-eye-slash");

        } else {
            showpass.type = "text";
            eyeicon.classList.remove("fa-eye-slash");
            eyeicon.classList.add("fa-eye");
        }
    })
    const eyeiconlabel1 = document.getElementById('eyeiconlabel1');
    const eyeicon1 = document.getElementById('eyeicon1');
    const showpass1 = document.getElementById('showpass1');
    eyeiconlabel1.addEventListener("click", () => {
        if (showpass1.type === "text") {
            showpass1.type = "password";
            eyeicon1.classList.remove("fa-eye");
            eyeicon1.classList.add("fa-eye-slash");

        } else {
            showpass1.type = "text";
            eyeicon1.classList.remove("fa-eye-slash");
            eyeicon1.classList.add("fa-eye");
        }
    })

</script>