@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HelloDoc</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/patientpage.css" />
    <link rel="stylesheet" href="~/css/nightmode.css" />
    <link rel="stylesheet" href="~/css/dashboard.css" />
    <link rel="stylesheet" href="~/css/requestform.css" />
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/css/index.css" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.0/sweetalert.min.js"></script>
    <script src="https://kit.fontawesome.com/3a611923b3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HelloDoc.styles.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
  

</head>
<body data-bs-theme="dark" style="background-color: rgb(247, 247, 247)">
    <header>
        <nav class="navbar navbar-light bg-light shadow rounded px-4">
            <a class="navbar-brand px" asp-controller="Home" asp-action="Index">
                <img src="~/res/Logo.png" width="sauto" id="logo" alt="">
            </a>
            <div class="navdiv">
                @{
                    try
                    {
                        int id = (int)Context.Session.GetInt32("UserId");
                        string username = Context.Session.GetString("UserName");

                        if (username != null)
                        {
                            <span>Welcome , @username</span>
                            <button style="background-color: transparent;" class="border-1 rounded text-info border-info p-2">
                                <div class="logoutimg"><i class=" fa-solid fa-arrow-right-from-bracket "></i></div>
                                <a asp-controller="Credential" asp-action="LogOut"><div class="logouttext"><span class="">Log Out</span></div></a>
                            </button>
                        }
                    }
                    catch{}

                }
                <button style="background-color: transparent;" class="border-1 rounded p-2 border-info " id="btn1">
                    <i class="fa-solid fa-sun fa-xl" id="imgmode"></i>
                </button>
            </div>
        </nav>
    </header>
    @RenderBody()
    <footer class="text-muted">
        <div class="bg-dark d-flex justify-content-end py-2 mt-auto position-fixed bottom-0  w-100" id="bg">
            <span class="fw-medium px-2  "><a href="#" class="text-secondary">Terms and Condition</a></span>
            <span class="fw-medium px-2  "><a href="#" class="text-secondary"> | </a></span>
            <span class="fw-medium px-2  "><a href="#" class="text-secondary">Privacy Policy</a></span>
        </div>
    </footer>
    @*<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@
    <script src="~/js/nightmode.js" asp-append-version="true"></script>
    <script src="~/js/requestform.js" asp-append-version="true"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
<script>
    const phoneInputField = document.querySelector("#tel");
    const phoneInput = window.intlTelInput(phoneInputField, {
        utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
    });
    const phoneInputField1 = document.querySelector("#tel1");
    const phoneInput1 = window.intlTelInput(phoneInputField1, {
        utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
    });
</script>
@await RenderSectionAsync("Scripts", required: false)
</html>
