@{
    ViewData["Title"] = "Login Page";
}
@using HelloDoc.Areas.PatientArea.ViewModels
@model PatientRequestViewModel;
@{
    Layout = "_Styles";
}

<div class="main d-flex py-2 flex-column imain">
    <div class="bgimage">
        <img src="~/res/7768657_3763028.png" alt="" id="bgimage">
    </div>
    <div class="d-flex justify-content-around position-relative">
        <div class="logo">
            <img src="~/res/Logo.png" class="logo">
        </div>
    </div>
    <div class="cmain">
        <div class="content">
            <div class="py-2">
                <span class="h2 ps-2">Create Your Account</span>
            </div>
            <form asp-controller="Credential" asp-action="CreateAccount" method="post">
                <div class="py-2">
                    <div class="my-2 form-group d-flex align-items-center rounded">
                        <input type="email" asp-for="Email" class="form-control" placeholder="" value="@Model.Email" required readonly><span>Email</span>
                        <label class="px-2"><i class="fa-regular fa-circle-user"></i></label>
                    </div>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    <div class="d-flex">
                        <div class="my-2 form-group d-flex align-items-center rounded col-xl-6 me-1">
                            <input type="text" asp-for="FirstName" class="form-control" placeholder="" required><span>First Name</span>
                        </div>
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                        <div class="my-2 form-group d-flex align-items-center rounded col-xl-6 ms-1">
                            <input type="text" asp-for="LastName" class="form-control" placeholder="" required><span>Last Name</span>
                        </div>
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                    <div class="my-2 form-group d-flex align-items-center rounded ">
                        <input type="password" asp-for="Password" id="showpass" class="form-control" placeholder="" required><span>Password</span>
                        <label id="eyeiconlabel" class="px-2"><i class="fa-regular fa-eye-slash" id="eyeicon"></i></label>
                        <span asp-validation-for="Password"></span>
                    </div>
                    <div class="my-2 form-group d-flex align-items-center rounded ">
                        <input type="password" asp-for="ConfirmPassWord" id="showpass" class="form-control" placeholder="" required><span>Confirm Password</span>
                        <label id="eyeiconlabel" class="px-2"><i class="fa-regular fa-eye-slash" id="eyeicon"></i></label>
                        <span asp-validation-for="ConfirmPassWord"></span>
                    </div>
                    <div class="py-2 form-group border-0">
                        <button class="form-control subbtn">Create Account</button>
                    </div>
                </div>
            </form>
        </div>
    </div>


    <div class="bggray d-flex justify-content-center py-2 mt-auto  position-relative" id="bg">
        <span class="fw-medium px-2  "><a href="#" class="text-secondary">Terms and Condition</a></span>
        <span class="fw-medium px-2  "><a href="#" class="text-secondary"> | </a></span>
        <span class="fw-medium px-2  "><a href="#" class="text-secondary">Privacy Policy</a></span>
    </div>
</div>
<div class="modebtn">
    <button style="background-color: transparent;" class="border-1 rounded" id="btn1">
        <i class="fa-solid fa-sun fa-spin fa-xl" id="imgmode"></i>
    </button>
</div>

<script>
    const eyeiconlabel = document.getElementById('eyeiconlabel');
    const eyeicon = document.getElementById('eyeicon');
    const showpass = document.getElementById('showpass');
    eyeiconlabel.addEventListener("click", () => {
        if (showpass.type === "text") {
            showpass.type = "password";
            eyeicon.classList.remove("fa-eye");
            eyeicon.classList.add("fa-eye-slash");

        } else {
            showpass.type = "text";
            eyeicon.classList.remove("fa-eye-slash");
            eyeicon.classList.add("fa-eye");
        }
    })
</script>