@{
    Layout = null;
}


@using DataModels.AdminSideViewModels
@model DashpopupsViewModel

<div class="modal fade" id="ModalToOpen" tabindex="-1" role="dialog" aria-labelledby="BlockCaseTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <form class="d-flex flex-column justify-content-center m-4">
                    <input type="number" id="inputhiddenrequestid" asp-for="RequestId" value="@Model.RequestId" hidden />
                    <div class="border border-1 border-warning rounded-circle d-flex my-5 align-self-center" style="width : min-content"><img src="~/res/warninggif.gif" height="100px" width="100px" /></div>
                    <div class="d-flex justify-content-center">
                        <h2 class="mb-0  align-self-center">Confirmation For Clear Case</h2>
                    </div>
                    <div class="d-flex justify-content-center py-3">
                        <span class="text-muted" style="text-align :center"> Are you sure you want to clear this request? Once clear this request then you are not able to see this request  </span>
                    </div>
                    <div class="d-flex justify-content-center my-5 gap-2">
                        <button type="button" id="confirmclearcase" class=" p-2 px-3 text-white bg-info rounded border-info  ">Clear</button>
                        <button type="button" class="btn btn-outline-info" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    $('#confirmclearcase').on('click', function () {
        var requestid = $('#inputhiddenrequestid').val();
        console.log(requestid);
        $.ajax({
            url: '/AdminArea/Dashboard/ClearCaseSubmit',
            type: 'POST',
            data: { requestid: requestid},
            success: function (result) {
                Swal.fire({
                    position: "top-end",
                    icon: "success",
                    title: "Case Cleared",
                    showConfirmButton: false,
                    timer: 1000
                });
                setTimeout(function () {
                    location.reload();
                }, 1000);
            },
            error: function (xhr, status, error) {
                console.error('Error: ' + error);
            },
        });
    });
</script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script>
    $(document).ready(function () {
        $('#ModalToOpen').draggable({
            handle: ".modal-dialog"
        });
    });
</script>