<div class="modal fade rounded-3 shadow" id="ModalToOpen" tabindex="-1" role="dialog" aria-labelledby="SendAgreement" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Download encounter</h1>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <input type="hidden" id="Requestid" value="@Model.requestid" />
            <div class="modal-body d-flex flex-column">
                <div class="d-flex justify-content-center">
                    @if (Model.isencounter)
                    {
                        <div class="px-2">
                            <button type="button" id="downloadencounter" class="btn btn-info">Download</button>
                        </div>
                    }
                    @if (Model.role == "Admin")
                    {
                        <div class="px-2">
                            <button type="button" id="editencounter" class="btn btn-info">Edit EncounterForm</button>
                        </div>
                    }
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="closemodel" class="btn btn-outline-info" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<script>
    $('#editencounter').on('click', function () {
        var id = $('#Requestid').val();
        $.ajax({
            url: '/AdminArea/Dashboard/EditEncounterAsAdmin',
            data: { id },
            type: 'POST',
            success: function (result) {
                $('#closemodel').trigger('click');
                $('#nav-tabContent').html(result);
            },
        });
    })
    $('#downloadencounter').on('click', function () {
        $('#closemodel').trigger('click');
        var id = $('#Requestid').val();
        var link = document.createElement('a');
        link.href = '/AdminArea/Dashboard/DownloadEncounterAsAdmin?id='+id;
        link.click();
    })

</script>