<div class="modal fade" id="ModalToOpen" tabindex="-1" role="dialog" aria-labelledby="BlockCaseTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header p-2 px-4 bg-info">
                <h5 class="modal-title text-white">Request Support</h5>
                <button type="button" class="btn" data-dismiss="modal" aria-label="Close">
                    <i class="fa-solid fa-xmark text-white"></i>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">To all unscheduled Physicians: We are short on coverage and needs additional support On call to respect to Requests</div>
                    <div class="form-group rounded d-flex align-itsems-center messagetosend">
                        <textarea class="form-control  shadow-none" placeholder="" rows="5" id="messageforprovider"></textarea>
                        <span>Message</span>
                    </div>
                    <div class="d-flex float-end mt-4">
                        <button type="button" id="Blockconfirmbutton" class="btn btn-info text-white mx-2 shadow-none ">Send</button>
                        <button type="button" class="btn border-info text-info shadow-none" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>