@model Request
<div class="modal fade rounded-3 shadow" id="ModalToOpen" tabindex="-1" role="dialog" aria-labelledby="SendAgreement" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Select Type of Care</h1>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <form>
                <input type="hidden" id="Requestid" value="@Model.Requestid" />
                <div class="modal-body d-flex flex-column">
                    <div class="d-flex justify-content-center">
                        <div class="px-2">
                            <input type="radio" class="btn-check" name="selectcalltype" id="success-outlined" autocomplete="off" value="1">
                            <label class="btn btn-outline-info" for="success-outlined">Housecall</label>
                        </div>
                        <div class="px-2">
                            <input type="radio" class="btn-check" name="selectcalltype" id="danger-outlined" autocomplete="off" value="2">
                            <label class="btn btn-outline-info" for="danger-outlined">Consult</label>
                        </div>
                       @* @if (Model.Calltype == 1)
                        {
                            <div class="px-2">
                                <button type="button" id="openencounter" class="btn btn-info">Open Encounter</button>
                            </div>
                        }*@
                    </div>
                    @*<div class="timedrop pt-3">
                        <div class="form-group d-flex align-items-center rounded">
                            <select class="form-select " id="selecttime">
                                <option value="0.5">After Half Hour</option>
                                <option value="1">After One Hour</option>
                                <option value="1.5">After One and a Half Hours</option>
                                <option value="2">After Two Hours</option>
                                <option value="2.5">After Two and a Half Hours</option>
                                <option value="3">After Three Hours</option>
                                <option value="3.5">After Three and a Half Hours</option>
                                <option value="4">After Four Hours</option>
                                <option value="4.5">After Four and a Half Hours</option>
                                <option value="5">After Five Hours</option>
                                <option value="5.5">After Five and a Half Hours</option>
                                <option value="6">After Six Hours</option>
                            </select>
                            <span class="selectedselectspan">Select Approximent Arrival Time</span>
                        </div>
                    </div>*@
                </div>
                <div class="modal-footer">
                    <button type="button" id="confirmbtn" class="btn btn-info">Continue</button>
                    <button type="button" id="closemodel" class="btn btn-outline-info" data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    //$('.timedrop').hide();
    //$('input[name="selectcalltype"]').on('change', function () {
    //    if ($('input[name="selectcalltype"]:checked').val() == 1) {
    //        $('.timedrop').show();
    //    }
    //    else {
    //        $('.timedrop').hide();
    //    }
    //})

    $('#confirmbtn').on('click', function () {
        var id = $('#Requestid').val();
        var calltype = "";
        $('input[name="selectcalltype"]:checked').each(function () {
            calltype = $(this).val();
        });
        console.log(id, calltype)
        if (calltype == 2) {
            $.ajax({
                url: '/AdminArea/Dashboard/CallTypeConsultforRequest',
                data: { id, calltype },
                type: 'POST',
                success: function (result) {
                    $('#nav-tabContent').html(result);
                    $('#closemodel').trigger('click');
                },
            });
        }
        else if (calltype == 1) {
            $.ajax({
                url: '/AdminArea/Dashboard/CallTypeHousecallforRequest',
                data: { id, calltype },
                type: 'POST',
                success: function (result) {
                    $('#nav-tabContent').html(result);
                    $('#closemodel').trigger('click');
                },
            });
        }
        else {
            Swal.fire("Select One!");
        }
    });

    //$('#openencounter').on('click', function () {
    //    var id = $('#Requestid').val();
    //    $.ajax({
    //        url: '/AdminArea/Dashboard/OnHouseOpenEncounter',
    //        data: { id },
    //        type: 'POST',
    //        success: function (result) {
    //            $('#nav-tabContent').html(result);
    //            $('#closemodel').trigger('click');
    //        },
    //    });
    //})
</script>