<div class="modal fade" id="ModalToOpen" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header p-2 px-4 bg-info">
                <h5 class="modal-title text-white">Send Mail to Patient to Submitting Request</h5>
                <button type="button" class="btn" data-dismiss="modal" aria-label="Close">
                    <i class="fa-solid fa-xmark text-white"></i>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group rounded d-flex align-itsems-center my-3">
                        <input type="text" class="form-control  shadow-none" placeholder="" id="sendlinkfirstname" />
                        <span>FirstName</span>
                    </div>
                    <div class="form-group rounded d-flex align-itsems-center my-3">
                        <input type="text" class="form-control  shadow-none" placeholder="" id="sendlinklastname" />
                        <span>LastName</span>
                    </div>
                    <div class="telephone rounded">
                        <div class="input-group d-flex align-items-center rounded ">
                            <input type="tel" class="form-control adminedit " id="sendlinkmobile">
                        </div>
                    </div>
                    <div class="form-group rounded d-flex align-itsems-center my-3">
                        <input type="email" class="form-control  shadow-none" placeholder="" id="sendlinkemail" />
                        <span>Email</span>
                    </div>
                    <div class="d-flex float-end mt-4">
                        <button type="button" id="SendLinkSubmitBtn" class=" p-2 px-3 text-white bg-info rounded border-info  mx-2 shadow-none ">Send</button>
                        <button type="button" class="btn border-info text-info shadow-none" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    var phoneInputField = document.querySelector("#sendlinkmobile");
    var phoneInput = window.intlTelInput(phoneInputField, {
        utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
    });

    $('#SendLinkSubmitBtn').on('click', function () {
        console.log('clicked');
        var firstname = $('#sendlinkfirstname').val();
        var lastname = $('#sendlinklastname').val();
        var mobile = $('#sendlinkmobile').val();
        var email = $('#sendlinkemail').val();
        var flage = true;
        console.log(email);
        if (email == null || email == "") {
            $('#sendlinkemail').css("border", "1px solid red");
            flage = false;
        }
        if (mobile == null || mobile == "") {
            $('#sendlinkmobile').css("border", "1px solid red");
            flage = false;
        }
        if (flage == true) {
            $.ajax({
                url: '/AdminArea/Dashboard/SendEmailFromSendLinkPopUp',
                type: 'POST',
                data: { firstname: firstname, lastname: lastname, email: email, mobile: mobile },
                success: function () {
                    location.reload();
                },
                error: function (error) {
                    console.error('Error:', error);
                }
            });
        }
    });

</script>