@{
    Layout = null;
}

@using DataModels.AdminSideViewModels;
@model DashpopupsViewModel;

<div id="dashboardView">
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>

<script>
    $(document).ready(function () {

        $.ajax({
            url: 'AdminArea/Dashboard/Home',
            success: function (response) {
                $('#dashboardView').html(response);
            },
            error: function (xhr, status, error) {
                console.error(error);
            }
        });


        $('.regiondropdown').on('change', function () {

            var regionid = $(this).val();
            $.ajax({
                url: 'AdminArea/Dashboard/GetPhysician',
                type: 'POST',
                data: { regionid: regionid },
                success: function (data) {
                    var physiciandropdown = $('#physiciandropdown');
                    physiciandropdown.empty();
                    physiciandropdown.append($('<option>', {
                        hidden: "hidden",
                        value: "invaild",
                        text: "Select Physician"
                    }))
                    if (data.length == 0) {
                        physiciandropdown.append($('<option>', {
                            value: "invalid",
                            disabled: "disabled",
                            text: "No Physician in this area",
                            style: "color : red"
                        }))
                    }
                    else {
                        $.each(data, function (index, phy) {
                            physiciandropdown.append($('<option>', {
                                value: phy.physicianid,
                                text: phy.firstname + " " + phy.lastname
                            }))
                        });
                    }
                }
            });

        });
        $('.transtoregiondropdown').on('change', function () {

            var regionid = $(this).val();
            $.ajax({
                url: 'AdminArea/Dashboard/GetPhysician',
                type: 'POST',
                data: { regionid: regionid },
                success: function (data) {
                    var physiciandropdown = $('#transtophysiciandropdown');
                    physiciandropdown.empty();
                    physiciandropdown.append($('<option>', {
                        hidden: "hidden",
                        value: "invaild",
                        text: "Select Physician"
                    }))
                    if (data.length == 0) {
                        physiciandropdown.append($('<option>', {
                            value: "invalid",
                            disabled: "disabled",
                            text: "No Physician in this area",
                            style: "color : red"
                        }))
                    }
                    else {
                        $.each(data, function (index, phy) {
                            physiciandropdown.append($('<option>', {
                                value: phy.physicianid,
                                text: phy.firstname + " " + phy.lastname
                            }))
                        });
                    }
                }
            });

        });


       
        $("#Transferconfirmbutton").on('click', function () {
            var regionid = $('.transtoregiondropdown').val();
            var phyid = $('#transtophysiciandropdown').val();
            if (phyid == "invalid") {
                $("#transtophysiciandropdown").css("border-color", "red");
            } else {
                $(this).closest('form').submit();
            }
        });
        
      
        $("#Blockconfirmbutton").on('click', function () {
            var reaosn = $('.blocknotes').val();
            if (reaosn == "") {
                $(".blocknotes").css("border-color", "red");
            } else {
                $(this).closest('form').submit();
            }
        });


    });





</script>


