@{
    Layout = null;
}

@using DataModels.AdminSideViewModels;
@model AdminDashboardViewModel;

<div id="dashboardView">

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<script>

    $(document).ready(function () {
        
        $.ajax({
            url: '../Dashboard/Home',

            success: function (response) {
                $('#dashboardView').html(response);
            },
            error: function (xhr, status, error) {
                console.error(error);
            }
        });

    });

</script>