@{
    Layout = null;
}

@using DataModels.AdminSideViewModels;
@model DashpopupsViewModel;

<div id="dashboardView">

</div>



<div class="modal fade" id="CancelCaseModal" tabindex="-1" role="dialog" aria-labelledby="CancelcaseTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <h5 class="modal-title text-white" id="exampleModalLabel">Confirm Cancellation</h5>
                <button type="button" class="btn" data-dismiss="modal" aria-label="Close">
                    <i class="fa-solid fa-xmark text-white"></i>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="CancelCase" asp-controller="Dashboard" method="post">
                    <input type="number" class="inputhiddenrequestid" name="RequestId"  hidden/>
                    <div class="mb-3">Patient Name : <span class="patientname text-info"></span> </div>
                    <div class="">
                        <select class="form-select form-select-lg mb-3 fs-6 shadow-none cancleselect" asp-for="CaseTagID" aria-label=".form-select-lg example">
                            <option class="fs-6" selected hidden>Reason for Cancellation</option>
                        </select>
                    </div>
                    <div class="form-group rounded d-flex align-items-center">
                        <textarea class="form-control  shadow-none" asp-for="CancleReason" placeholder="" rows="5"></textarea>
                        <span>Provide Additional Notes</span>
                    </div>
                    <div class="d-flex float-end mt-4">
                        <button type="submit" class="btn btn-info text-white mx-2 shadow-none">Confirm</button>
                        <button type="button" class="btn border-info text-info shadow-none" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="BlockPatientsmodal" tabindex="-1" role="dialog" aria-labelledby="BlockCaseTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <h5 class="modal-title text-white" id="exampleModalLabel">Confirm Block</h5>
                <button type="button" class="btn" data-dismiss="modal" aria-label="Close">
                    <i class="fa-solid fa-xmark text-white"></i>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="BlockRequest" method="post">
                    <div class="mb-3">Patient Name : <span class="patientname text-info"></span> </div>
                    <input type="number" class="inputhiddenrequestid"  name="RequestId" hidden/>
                    <div class="form-group rounded d-flex align-items-center">
                        <textarea class="form-control  shadow-none" placeholder="" rows="5" asp-for="Blockreason"></textarea>
                        <span>Reason for Block Request</span>
                    </div>
                    <span asp-validation-for="Blockreason"></span>
                    <div class="d-flex float-end mt-4">
                        <button type="submit" class="btn btn-info text-white mx-2 shadow-none">Confirm</button>
                        <button type="button" class="btn border-info text-info shadow-none" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<script>
    console.log("das")
    $(document).ready(function () {
        
        $.ajax({
            url: '../Dashboard/Home',
            success: function (response) {
                $('#dashboardView').html(response);
            },
            error: function (xhr, status, error) {
                console.error(error);
            }
        });
    });

    $(document).ready(function () {
        $('.gotomodel[data-target="#CancelCaseModal"]').on('click', function () {
            console.log("clickascaed");
            $.ajax({
                url: '../Dashboard/GetCaseTags',
                success: function(data){
                    var casetagsdropdown = $('.cancleselect');
                    casetagsdropdown.empty();

                    $.each(data , function(index, item){
                        casetagsdropdown.append($('<option>' , {
                            value: item.casetagid,
                            text: item.name
                        }))
                    });
                }
            });
        });
    });



</script>


