@{
    Layout = null;
}
@using DataModels.AdminSideViewModels
@model SendOrderViewModel ;
<div class="container">
    <div class="d-flex justify-content-between">
        <div class="d-flex justify-content-start align-items-center"><span class="h4 mb-0"><b>Send Orders</b></span></div>
        <div>
            <a asp-action="Dashboard" asp-controller="Dashboard">
                <button class="d-flex babtn border border-info border-1 rounded align-items-center p-1 px-2">
                    <div class="d-flex"><img src="~/res/back.png" width="15px" height="15px"></div>
                    <div class="px-1"><span>Back</span></div>
                </button>
            </a>
        </div>
    </div>
    <form asp-action="SendOrderDetails" asp-controller="Dashboard" method="post">
        <input type="hidden"  asp-for="RequestId" value="@Model.RequestId" />
        <div class="bg-white rounded-3 p-3 mt-2 shadow">
            <div class="row d-flex">
                <div class="py-2 col-xl-6 col-md-6 col-sm-12">
                    <div class="form-group d-flex align-items-center rounded">
                        <select type="text" class="professiondropdown" placeholder="" asp-for="ProfessionId">
                        </select>
                    </div>
                </div>
                <div class="py-2 col-xl-6 col-md-6 col-sm-12">
                    <div class="form-group d-flex align-items-center rounded">
                        <select type="text" class="businessdropdown" placeholder="" asp-for="VendorId">
                            <option hidden>Business</option>
                        </select>
                    </div>
                </div>
                <div class="py-2 col-xl-6 col-md-6 col-sm-12">
                    <div class="form-group d-flex align-items-center rounded">
                        <input type="text" class="form-control" name="Contact" placeholder="" asp-for="Contact"><span>Business Contact</span>
                    </div>
                    <span asp-validation-for="Contact" class="text-danger spanofvalid"></span>
                </div>
                <div class="py-2 col-xl-6 col-md-6 col-sm-12">
                    <div class="form-group d-flex align-items-center rounded">
                        <input type="email" class="form-control" name="Email" placeholder="" asp-for="Email"><span>Email</span>
                    </div>
                    <span asp-validation-for="Email" class="text-danger spanofvalid"></span>
                </div>
                <div class="py-2 col-xl-6 col-md-6 col-sm-12">
                    <div class="form-group d-flex align-items-center rounded">
                        <input type="text" class="form-control" name="Fax" placeholder="" asp-for="Fax"><span>Fax Number</span>
                    </div>
                    <span asp-validation-for="Fax" class="text-danger spanofvalid"></span>
                </div>
                <div class="py-2 col-12 ">
                    <div class="form-group rounded d-flex align-items-center">
                        <textarea class="form-control" placeholder="" rows="3" asp-for="Prescription"></textarea><span>Prescription or Order Detail</span>
                    </div>
                    <span asp-validation-for="Prescription" class="text-danger spanofvalid"></span>
                </div>
                <div class="py-2 col-xl-6 col-md-6 col-sm-12">
                    <div class="form-group d-flex align-items-center rounded">
                        <select type="text" placeholder="" asp-for="Refill">
                            <option hidden value="0">Not Required</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                        </select>
                        <span class="floatspanfordropdown small">Number Of Refill</span>
                    </div>
                </div>
            </div>
            <div class="justify-content-end d-flex mt-4">
                <div class="mx-1">
                    <button type="button" class="btn submit btn-info shadow-none text-white py-2">
                        Submit
                    </button>
                </div>
                <div class="mx-1">
                    <button type="reset" class="btn btn-outline-info shadow-none py-2">
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>

<script>
    $(document).ready(function () {

        $('.submit').on('click' , function(){
            if ($('.professiondropdown').val() == "invalid"){
                Swal.fire("Please Select Profession!");
            }
            else if ($('.businessdropdown').val() == "invalid"){
                Swal.fire("Please Select Vendor!");
            }
            else{
                $(this).closest('form').submit();
            }
        })



        $.ajax({
            url: '/AdminArea/Dashboard/GetProfession',
            success: function (data) {
                var proffession = $('.professiondropdown');
                proffession.empty();
                proffession.append($('<option>', {
                    hidden: "hidden",
                    value: "invalid",
                    text: "Select Profession"
                }))
                $.each(data, function (index, item) {
                    proffession.append($('<option>', {
                        value: item.healthprofessionalid,
                        text: item.professionname
                    }))
                });
            }
        });
    });
    $('.professiondropdown').on('change', function () {
        $.ajax({
            url: '/AdminArea/Dashboard/GetVendorbyProfession',
            data: { professoinid: $(this).val() },
            success: function (data) {
                $('input[name="Contact"]').val("");
                $('input[name="Email"]').val("");
                $('input[name="Fax"]').val("");
                var business = $('.businessdropdown');
                business.empty();
                business.append($('<option>', {
                    hidden: "hidden",
                    value: "invalid",
                    text: "Business"
                }))
                $.each(data, function (index, item) {
                    business.append($('<option>', {
                        value: item.vendorid,
                        text: item.vendorname
                    }))
                });
            }
        });
    })
    $('.businessdropdown').on('change', function () {
        $.ajax({
            url: '/AdminArea/Dashboard/GetVendorbyVendorid',
            data: { vendorid: $(this).val() },
            success: function (data) {
                $('input[name="Contact"]').val(data.businesscontact);
                $('input[name="Email"]').val(data.email);
                $('input[name="Fax"]').val(data.faxnumber);
            }
        });
    })

    $('.spanofvalid').bind("DOMSubtreeModified", function () {
        if ($(this).text().trim() !== '') {
            $(this).parents('.py-2').addClass('error');
        } else {
            $(this).parents('.py-2').removeClass('error');
        }
    });


</script>
<link rel="stylesheet" href="~/css/error.css" asp-append-version="true" />