@{
    Layout = null;
}
@using DataModels.AdminSideViewModels;
@model RequestDataViewModel;
<div class="container">
    <div class="d-flex justify-content-between">
        <div><span class="h4">View Reservation</span> &nbsp; <span class="p-2 text-white rounded-3 bg-success">@Model.RequestTypeName(Model.RequesttypeID)</span></div>
        <div>
            <a asp-action="AdminTabsLayout" asp-controller="Home">
                <button class="d-flex babtn border border-info border-1 rounded align-items-center p-1 px-2">
                    <div class="d-flex"><img src="~/res/back.png" width="15px" height="15px"></div>
                    <div class="px-1"><span>Back</span></div>
                </button>
            </a>
        </div>
    </div>
    <div class="bg-white rounded-3 p-3 mt-2 shadow">
        <div class="h5 fw-bold">Patient Information</div>
        <div class="mt-2">
            <div class="small text-muted">Confirmation Number</div>
            <div class="text-info">@Model.ConfirmationNo</div>
        </div>
        <div class="py-2 col-12 ">
            <div class="form-group rounded d-flex align-items-center">
                <textarea class="form-control" placeholder="" rows="3" asp-for="Notes" readonly></textarea><span>Patient Notes</span>
            </div>
        </div>
        <hr style="border : 1px dashed grey" />
        <div class="row d-flex">
            <div class="py-2 col-xl-6 col-md-6 col-sm-12">
                <div class="form-group d-flex align-items-center rounded">
                    <input type="text" class="form-control" placeholder="" asp-for="FirstName" readonly><span>First Name</span>
                </div>
                <span asp-validation-for="FirstName"></span>
            </div>
            <div class="py-2 col-xl-6 col-md-6 col-sm-12">
                <div class="form-group d-flex align-items-center rounded">
                    <input type="text" class="form-control" placeholder="" asp-for="LastName" readonly><span>Last Name</span>
                </div>
                <span asp-validation-for="LastName"></span>
            </div>
            <div class="py-2 col-xl-6 col-md-6 col-sm-12">
                <div class="form-group d-flex align-items-center rounded">
                    <input type="date" class="form-control" placeholder="" min="1940-01-01" max="2000-01-01" asp-for="PatientDOB" readonly><span>Date of Birth</span>
                </div>
            </div>
            <div class="py-2 col-xl-5 col-md-5 col-sm-10 col-10">
                <div class="telephone rounded">
                    <div class="input-group d-flex align-items-center rounded ">
                        <input type="tel" name="phone_number[main]" id="phone_number" class="form-control" asp-for="PatientMobile" readonly>
                    </div>
                    <span asp-validation-for="PatientMobile"></span>
                </div>
            </div>
            <div class="py-2 col-xl-1 col-md-1 col-sm-2 col-2 ps-0">
                <div class="border border-1 border-info d-flex w-100 h-100 align-items-center justify-content-center rounded">
                    <button class=" text-info border-0 bg-transparent"><i class="bi bi-telephone-fill" style="font-size : 1.5rem"></i></button>
                </div>
            </div>
            <div class="py-2 col-xl-6 col-md-6 col-sm-12">
                <div class="form-group d-flex align-items-center rounded">
                    <input type="email" class="form-control" placeholder="" asp-for="PatientEmail" readonly><span>Email</span>
                </div>
                <span asp-validation-for="PatientEmail"></span>
            </div>
            <div class="py-2 col-xl-6 col-md-6 col-sm-12">
                <div class="form-group d-flex align-items-center rounded">
                    <button class="form-group">Edit</button>
                </div>
            </div>
        </div>
        <div class="h5 fw-bold">Location Information</div>
        <div class="d-flex row">
            <div class="py-2 col-xl-6 col-md-6 col-sm-12">
                <div class="form-group d-flex align-items-center rounded">
                    <input type="text" class="form-control" placeholder="" asp-for="Region" readonly><span>Region</span>
                </div>
            </div>
            <div class="py-2 col-xl-5 col-md-5 col-sm-10 col-10">
                <div class="form-group d-flex align-items-center rounded">
                    <input type="text" class="form-control" placeholder="" asp-for="BuisnessName" readonly><span>Business Name / Address</span>
                </div>
            </div>
            <div class="py-2 col-xl-1 col-md-1 col-sm-2 col-2 ps-0">
                <div class="border border-1 border-info d-flex w-100 h-100 align-items-center justify-content-center rounded">
                    <button class=" text-info border-0 bg-transparent"><i class="bi bi-geo-alt-fill" style="font-size : 1.5rem"></i></button>
                </div>
            </div>
            <div class="py-2 col-xl-6 col-md-6 col-sm-12">
                <div class="form-group d-flex align-items-center rounded">
                    <input type="text" class="form-control" placeholder="" readonly><span>Room#</span>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-end">
            @if (Model.Status == 1)
            {
                <div class="m-1"><button class="border-0 bg-info rounded-2 text-white p-2" id="AssignCase">Assign</button></div>
            }
            <div class="m-1"><button class="border-0 bg-info rounded-2 text-white p-2" id="ViewNotes">View Notes</button></div>
            @if (Model.Status == 1)
            {
                <div class="m-1"><button class="border-0 bg-danger rounded-2 text-white p-2">Cancle</button></div>
            }
        </div>
    </div>
</div>



<script>
    $(document).ready(function () {
        $('#ViewNotes').click(function (e) {
            e.preventDefault();

            var action = $(this).attr('id');
            var id = @Model.RequestId;
            console.log(id);

            $.ajax({
                url: '../Dashboard/' + action,
                type: 'GET',
                data: { id: id },
                success: function (result) {

                    $('#nav-tabContent').html(result);
                },
                error: function (xhr, status, error) {
                    console.error('Error: ' + error);
                },
            });
        });
    });
</script>