@{
    int id = (int)Context.Session.GetInt32("AdminId");
    string username = Context.Session.GetString("UserName");
}
@using DataModels.AdminSideViewModels;
@model DashpopupsViewModel;

<nav style="background-color:white" class="resstartpadding">
    <div class="mainnav">
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link maintabs me-3" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Dashboard</button>
            <button class="nav-link maintabs me-3" data-bs-toggle="tab" data-bs-target="#nav-ProviderLocation" type="button" role="tab" aria-controls="nav-ProviderLocation" aria-selected="false">Provider Location</button>
            <button class="nav-link maintabs me-3" data-bs-toggle="tab" data-bs-target="#nav-Profile" type="button" role="tab" aria-controls="nav-Profile" aria-selected="false">My Profile</button>
            <button class="nav-link me-3 dropdown ms-2" type="button" data-bs-toggle="dropdown" role="tab" aria-expanded="false">
                Providers
            </button>
            <div class="dropdown-menu dropdown-menu-right provider-dropdown">
                <button type="button" class="dropdown-item maintabs text-center" data-bs-target="#providers">Provider</button>
                <button type="button" class="dropdown-item maintabs text-center" data-bs-target="#scheduling">Scheduling</button>
                <button type="button" class="dropdown-item maintabs text-center" data-bs-target="#invoicing">Invoicing</button>
            </div>
            <button class="nav-link maintabs me-3" data-bs-toggle="tab" data-bs-target="#nav-Partners" type="button" role="tab" aria-controls="nav-Partners" aria-selected="false">Partners</button>
            <button class="nav-link maintabs me-3" data-bs-toggle="tab" data-bs-target="#nav-Access" type="button" role="tab" aria-controls="nav-Access" aria-selected="false">Access</button>
            <button class="nav-link maintabs me-3" data-bs-toggle="tab" data-bs-target="#nav-Records" type="button" role="tab" aria-controls="nav-Records" aria-selected="false">Records</button>
        </div>
    </div>
</nav>
<div class="position-relative">
    <div class="offcanvas offcanvas-start position-absolute" data-bs-scroll="false" style="width:65%" tabindex="-1" id="layoutnav" aria-labelledby="offcanvasWithBackdropLabel">
        <span class="p-2 "> <span class="small">Welcome , </span><b>@username</b></span>
        <div class="maintabsul">
            <div class="accordianmaintabs" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Dashboard</div>
            <div class="accordianmaintabs" data-bs-toggle="tab" data-bs-target="#nav-ProviderLocation" type="button" role="tab" aria-controls="nav-ProviderLocation" aria-selected="false">Provider </div>
            <div class="accordianmaintabs" data-bs-toggle="tab" data-bs-target="#nav-Profile" type="button" role="tab" aria-controls="nav-Profile" aria-selected="false">My Profile</div>
            <div class="accordion customaccordion p-0" id="accordionExample">
                <div class="accordion-item border-0 shadow-none">
                    <button class="accordion-button sidebar collapsed p-0 m-0 align-items-center shadow-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        <h6 class="mb-0" id="headingTwo" style="padding : 5px 10%">
                            Providers
                        </h6>
                    </button>
                    <div id="collapseTwo" class="accordion-collapse collapse sidebar" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                        <ul class="accordion-body sidebar m-0" style="list-style : inside">
                            <li class ="accordianmaintabs" data-bs-target="#providers">Provider</li>
                            <li class="accordianmaintabs" data-bs-target="#scheduling">Scheduling</li>
                            <li class="accordianmaintabs" data-bs-target="#invoicing">Invoice</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordianmaintabs" data-bs-toggle="tab" data-bs-target="#nav-Partners" type="button" role="tab" aria-controls="nav-Partners" aria-selected="false">Partners</div>
            <div class="accordianmaintabs" data-bs-toggle="tab" data-bs-target="#nav-Access" type="button" role="tab" aria-controls="nav-Access" aria-selected="false">Access</div>
            <div class="accordianmaintabs" data-bs-toggle="tab" data-bs-target="#nav-Records" type="button" role="tab" aria-controls="nav-Records" aria-selected="false">Records</div>
        </div>
    </div>
    <div class="tab-content respadding" id="nav-tabContent">
    </div>


    @*Pop Up Models*@




    @*CancelCaseModal*@



    @*BlockPatientModal*@



    @*TransferCaseModal*@



</div>
@if (TempData["FileDeletedMessage"] != null)
{
    <script>
        Swal.fire({
            position: "top-end",
            icon: "success",
            title: "@TempData["FileDeletedMessage"]",
            showConfirmButton: false,
            timer: 1000
        });
    </script>
}
<partial id="PopUps" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
<script src="~/js/foradmintabslayout.js" asp-append-version="true"></script>

