@{
    ViewData["Title"] = "Login Page";
}

@model HelloDoc.Aspnetuser;
@{
    Layout = "_Styles";
}

<div>
    <div class="d-flex">
        <div class="BACKIMAGE">
            <img src="~/res/11116016_415.jpg" class="w-100 h-100" />
        </div>
        <div class="LOGINFIELD  d-flex justify-content-center">
            <div class="main imain d-flex flex-column justify-content-around">
                <div class="d-flex justify-content-around position-relative">
                    <div class="logo">
                        <img src="~/res/Logo.png" class="logo">
                    </div>
                </div>
                <div>
                    <div class="content">
                        <div class="py-2">
                            <span class="h2 ps-2">Get Your Password</span>
                        </div>
                        <form asp-action="AdminResetPassword" asp-controller="Home" method="post">
                            <div class="py-2">
                                <div class="my-2 form-group d-flex align-items-center rounded">
                                    <input type="email" class="form-control" placeholder=""  asp-for="Email" required><span>Email</span>
                                    <label class="px-2"><i class="fa-regular fa-circle-user"></i></label>
                                </div>
                                <div class="py-2 form-group border-0">
                                    <button class="form-control subbtn" type="submit">Send Link</button>
                                </div>
                            </div>
                        </form>
                        <div class="d-flex justify-content-center"><a asp-action="AdminLogin">Back To Login</a></div>
                    </div>
                </div>


                <div class="bggray d-flex justify-content-center py-2  position-relative" id="bg">
                    <span class="fw-medium px-2  "><a href="#" class="text-secondary">Terms and Condition</a></span>
                    <span class="fw-medium px-2  "><a href="#" class="text-secondary"> | </a></span>
                    <span class="fw-medium px-2  "><a href="#" class="text-secondary">Privacy Policy</a></span>
                </div>
            </div>
            <div class="modebtn">
                <button style="background-color: transparent;" class="border-1 rounded" id="btn1">
                    <i class="fa-solid fa-sun fa-spin fa-xl" id="imgmode"></i>
                </button>
            </div>
        </div>

    </div>
</div>

@if (TempData["Message"] != null)
{
    <script>
        Swal.fire({
            position: "top-end",
            icon: "warning",
            title: "@TempData["Message"]",
            showConfirmButton: false,
            timer: 1000
        });
    </script>
}

<script>
    const eyeiconlabel = document.getElementById('eyeiconlabel');
    const eyeicon = document.getElementById('eyeicon');
    const showpass = document.getElementById('showpass');
    eyeiconlabel.addEventListener("click", () => {
        if (showpass.type === "text") {
            showpass.type = "password";
            eyeicon.classList.remove("fa-eye");
            eyeicon.classList.add("fa-eye-slash");

        } else {
            showpass.type = "text";
            eyeicon.classList.remove("fa-eye-slash");
            eyeicon.classList.add("fa-eye");
        }
    })
    $('.subbtn').on('click', function () {
        $(this).prop('disabled', true);
    });

</script>