@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div id="exampleModal" class="modal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body text-center">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="mb-3" style="height: 80px;"><path fill="#FFD43B" d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM216 336h24V272H216c-13.3 0-24-10.7-24-24s10.7-24 24-24h48c13.3 0 24 10.7 24 24v88h8c13.3 0 24 10.7 24 24s-10.7 24-24 24H216c-13.3 0-24-10.7-24-24s10.7-24 24-24zm40-208a32 32 0 1 1 0 64 32 32 0 1 1 0-64z" /></svg>
                <h4>Information</h4>
                <p>When Submitting the request, you must provide the correct contact information for the patient or the responsibly party. Failure to provide the correct email and phone number will delay the service or be declined.</p>
                <button type="button" id="closeBtn" class="btn btn-info mt-3" style="color: white; width: 57px;">Ok</button>
            </div>
        </div>
    </div>
</div>