@{
    Layout = null;
}

<table class="table table-hover" style="vertical-align : middle">
    <thead style="background-color: rgb(235, 235, 235) ; color: black !important ; font :normal!important">
        <tr>
            <th style="width : 10% !important">Recipient</th>
            <th style="width : 10% !important">Action</th>
            <th style="width : 10% !important">Role Name</th>
            <th style="width : 20% !important">Email Id</th>
            <th style="width : 15% !important">Created Date</th>
            <th style="width : 10% !important">Sent Date</th>
            <th style="width : 5% !important">Sent</th>
            <th style="width : 5% !important">Sent Tries</th>
            <th style="width : 15% !important">Confirmation Number</th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>