@{
    //Layout = null;
}
@{
    ViewData["Title"] = "Block Hisory";
}
<div class="container-fluid">
    <div class="d-flex justify-content-between">
        <div class="h3 fw-bold">Block History</div>
    </div>
    <div>
        <div class="bg-light rounded my-3 shadow" id="content">
            <div class="">
                <form>
                    <div class="d-flex row p-3">
                        <div class="col-xl-3 col-md-6 col-sm-12 col-12">
                            <div class="form-group d-flex align-items-center rounded">
                                <input type="text" class="form-control" placeholder="" id="pname"><span>Patient Name</span>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6 col-sm-12 col-12">
                            <div class="form-group d-flex align-items-center rounded">
                                <input type="text" id="createddate" onfocus="(this.type='date')" onblur="(this.type='text')" placeholder=""><span>Date</span>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6 col-sm-12 col-12">
                            <div class="form-group d-flex align-items-center rounded">
                                <input type="text" class="form-control" placeholder="" id="emailid"><span>Email Id</span>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6 col-sm-12 col-12">
                            <div class="form-group d-flex align-items-center rounded">
                                <input type="text" class="form-control" placeholder="" id="mobile"><span>Mobile</span>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex p-3 gap-3 justify-content-end">
                        <button type="reset" id="clearbtn" class="btn btn-outline-info shadow-none py-2">
                            Clear
                        </button>
                        <button type="button" id="submitdate" class="btn btn-info shadow-none text-white py-2">
                            Search
                        </button>
                    </div>
                </form>
                <div class="table-responsive mb-4" id="_records"></div>
                <div class="d-flex align-items-center justify-content-between p-3 pagination_div">
                    <div class="info_div">
                        <span id="fromthisshift"></span>
                        <span>-</span>
                        <span id="tothisshift"></span>
                        <span>out of</span>
                        <span id="totalcountofshift"></span>
                    </div>
                    <div class="d-flex align-items-center info_div">
                        <div class="paginate_Previousbutton text-info"><i class="bi bi-chevron-left"></i></i></div>
                        <div class="dataTables_paginate d-flex"></div>
                        <div class="paginate_Nextbutton text-info"><i class="bi bi-chevron-right"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    localStorage.setItem('target', "#block-history");
    var target = localStorage.getItem('target');
    $('.maintabs').removeClass('active');
    $('.accordianmaintabs').removeClass('active');
    $('.maintabs[data-bs-target="' + target + '"]').addClass('active');
    $('.accordianmaintabs[data-bs-target="' + target + '"]').addClass('active');
</script>
<script src="~/js/BlockHistory.js" asp-append-version="true"></script>