@{
    Layout = null;
}
<div class="container-fluid">
    <div class="d-flex justify-content-between">
        <div class="h3 fw-bold">Email Logs (Outlook)</div>
    </div>
    <div>
        <div class="bg-light rounded my-3 shadow" id="content">
            <div class="p-3">
                <div class="d-flex row">
                    <div class="col-xl-2 col-md-4 col-sm-12 col-12">
                        <div class="form-group d-flex align-items-center rounded">
                            <select class="form-select ">
                                <option value="0">All</option>
                                <option value="0">Admin</option>
                                <option value="0">Physician</option>
                            </select>
                            <span class="selectedselectspan">Search by role</span>
                        </div>
                    </div>
                    <div class="col-xl-2 col-md-4 col-sm-12 col-12">
                        <div class="form-group d-flex align-items-center rounded">
                            <input type="text" class="form-control" placeholder="" id=""><span>Receiver Name</span>
                        </div>
                    </div>
                    <div class="col-xl-2 col-md-4 col-sm-12 col-12">
                        <div class="form-group d-flex align-items-center rounded">
                            <input type="text" class="form-control" placeholder="" id=""><span>Email Id</span>
                        </div>
                    </div>
                    <div class="col-xl-2 col-md-4 col-sm-12 col-12">
                        <div class="form-group d-flex align-items-center rounded">
                            <input type="text" onfocus="(this.type='date')" onblur="(this.type='text')" placeholder=""><span>Created Date</span>
                        </div>
                    </div>
                    <div class="col-xl-2 col-md-4 col-sm-12 col-12">
                        <div class="form-group d-flex align-items-center rounded">
                            <input type="text" onfocus="(this.type='date')" onblur="(this.type='text')" placeholder=""><span>Sent Date</span>
                        </div>
                    </div>
                    <div class="d-flex align-items-center col-xl-2 col-md-4 col-sm-12 col-12 justify-content-end gap-3">
                        <button type="submit" class="btn btn-info shadow-none text-white py-2">
                            Submit
                        </button>
                        <button type="reset" class="btn btn-outline-info shadow-none py-2">
                            Clear
                        </button>
                    </div>
                </div>
                <div class="table-responsive" id="_records"></div>
            </div>
        </div>
    </div>
</div>
<script>

</script>