<div class="modal fade rounded-3 shadow" id="ModalToOpen" tabindex="-1" role="dialog" aria-labelledby="AssignCasemodal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <h5 class="modal-title text-white">Transfer Request</h5>
                <button class="btn" type="button" data-dismiss="modal">
                    <i class="fa-solid fa-xmark" style="color: #ffffff;"></i>
                </button>
            </div>
            <form>
                <div class="modal-body">
                    <input type="number" id="inputhiddenrequestid" value="@Model.requestid" hidden />
                    <label class="my-2 text-secondary  fw-normal mb-3" style="font-size:12.8px">This request will be transfered to admin.</label>
                    <div class="form-group rounded d-flex align-items-center">
                        <textarea class="form-control  shadow-none" id="AssigncaeTextarea" placeholder="" rows="5"></textarea>
                        <span>Description</span>
                    </div>
                </div>
                <div class="modal-footer border-0">
                    <button type="button" id="Assignconfirmbutton" class=" p-2 px-3 text-white bg-info rounded border-info  ">Submit</button>
                    <button type="button" class="btn btn-outline-info" data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>

    $('#Assignconfirmbutton').on('click', function () {
        var note = $('#AssigncaeTextarea').val();
        var requestid = $('#inputhiddenrequestid').val();
        if (note == "" || note == null) {
            $("#AssigncaeTextarea").css("border-color", "red");
        } else {
            $.ajax({
                url: '/ProviderArea/Dashboard/TransfertoAdmin',
                type: 'POST',
                data: { requestid: requestid, note: note },
                success: function (result) {
                    console.log(result);
                    Swal.fire({
                        position: "top-end",
                        icon: "success",
                        title: "Case Transfered to Admin",
                        showConfirmButton: false,
                        timer: 1000
                    });
                    setTimeout(function () {
                        location.reload();
                    }, 1000);
                },
                error: function (xhr, status, error) {
                    console.error('Error: ' + error);
                },
            });
        }
    });
</script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script>
    $(document).ready(function () {
        $('#ModalToOpen').draggable({
            handle: ".modal-dialog"
        });
    });
</script>