@media only screen and (max-width: 50000px) {
    .plusimg,
    .logoutimg {
        display: none;
    }
}

@media only screen and (max-width: 450px) {
    .plusimg,
    .logoutimg {
        display: block;
    }
    .cnr,
    .logouttext{
        display : none;
    }
}

