.mt {
    margin-top: auto;
}

@media only screen and (max-width:430px) {
    .logo {
        display: none;
    }
    .mt {
        margin: 0%;
    }
    .main {
        justify-content: space-between;
    }
    a:link,
    a:visited {
        text-decoration: none;
        font-size: 0.7em;
    }
}