.imgmode {
    width: 38px;
    height: 38px;
    padding-top: 18px;
    transition : 2s;
}

.modebtn {
    position: fixed;
    z-index: 1;
    top: 2%;
    right: 2%;
}

#btn {
    display: flex;
    border-color: black;
}

#logo {
    height: 60px;
}

@media only screen and (max-width:430px) {
    #btn1{
        width : 36px;
        height : 36px;
    }
    .navdiv{
        font-size : 0.75rem ;
    }
    #logo {
        height: 45px;
    }
}