.respadding {
    padding: 3rem
}

.resstartpadding {
    padding-left: 3rem
}

.displayflexorblock,
.displayflexorblockwithpad {
    display: flex;
    align-items: center;
}

.p-2px-3mx-2 {
    padding: 0.5rem 1rem;
    margin: 0rem 0.5rem;
}

.h3size {
    font-size: 1.6rem;
}

.h6size {
}

.ps-2size {
    padding: 0rem .5rem
}

.px-5size {
    padding: 0rem 3rem;
}

.welcomespan {
}

.sidebaroffcanvasbtn {
    display: none;
}

.offcanvas {
    height: 93vh;
    transition: .5s;
}

.offcanvas-backdrop {
    position: absolute;
}

.maintabsul {
    margin: 0;
    padding-left: 0%;
}

#DataTables_Table_1_wrapper {
    display: none;
}

.accordianmaintabs {
    padding-left: 10%;
}

.acctable {
    display: none;
}

a {
    text-decoration: none
}


/*Datatables*/

.dataTables_length label,
.dataTables_info {
    padding-left: 0.5rem
}

.paginate_button,
.paginate_Nextbutton,
.paginate_Previousbutton {
    border-radius: 20% !important;
    margin-left: 7px !important;
    padding: 0px !important;
    border: 1px solid #80808070 !important;
    font-size: medium;
    height: 35px !important;
    width: 35px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
}

    .paginate_button.current {
        background: #0dcaf0 !important;
        color: #fff !important;
        border: none;
    }

    .paginate_button:hover {
        background: #0dcaf0 !important;
    }

    .paginate_Nextbutton:hover,
    .paginate_Previousbutton:hover {
        background: #0dcaf0 !important;
        color: white !important
    }

.viewfilebtn {
    display: none !important;
}



@media only screen and (max-width:1020px) {
    .respadding {
        padding: 1.5rem
    }
}

@media only screen and (max-width:800px) {
    .respadding {
        padding: 1rem
    }

    .resstartpadding {
        padding-left: 1rem
    }

    .displayflexorblock {
        display: block;
        padding: 1px;
        font-size: smaller;
    }

    .displayflexorblockwithpad {
        display: block;
        padding: 15px
    }

    .p-2px-3mx-2 {
        padding: 0.25rem 0.5rem;
        margin: 0rem 0.125rem;
        font-size: large;
    }

    .h3size {
        font-size: 1rem;
        font-weight: 700;
    }

    .h6size {
    }

    .ps-2size {
        padding: 0rem .1rem;
        font-size: smaller;
    }

    .px-5size {
        padding: 0rem 1rem;
    }
}

@media only screen and (max-width:700px) {
    .respadding {
        padding: 0.75rem
    }

    .sidebaroffcanvasbtn {
        display: inline;
    }

    .resstartpadding {
        display: none;
    }

    .searchandregiondropdown {
        flex-direction: column;
    }

        .searchandregiondropdown div {
            width: 100%;
            margin-bottom: 10px;
        }

    .maintabsul .maintabs,
    .maintabsul .accordion-header.sidebar,
    .maintabsul .accordion-body.sidebar,
    .maintabsul .maintabs button.sidebar {
        margin: 0px;
        padding: 3% 10%;
        font-size: small;
        font-weight: 600;
    }

    .maintabsul .accordianmaintabs.active {
        background-color: #0dcaf04f;
    }

    .accordion-button:not(.collapsed).sidebar {
        color: inherit;
        box-shadow: none;
    }

    .accordion-button.sidebar {
        font-size: small;
        font-weight: 600;
    }

    .customaccordion.sidebar .accordion-button[aria-expanded="true"] {
        background-color: #0dcaf04f;
    }

    .accordion-button.sidebar:not(.collapsed) {
        background-color: #0dcaf04f;
    }

    .accordion-button::after.sidebar {
        margin-right: 5%;
    }

    .accordion-collapse.collapse.show ul {
        background-color: #0dcaf04f;
    }

    .restable {
        display: none;
    }

    .acctable {
        display: inline-table;
    }

    .addresstextinaccordian {
        width: 70%;
    }

    .maplocationinaccordian {
        width: 25%;
    }

    #DataTables_Table_0_wrapper {
        display: none;
    }

    #DataTables_Table_1_wrapper {
        display: block;
    }

    .paginate_button,
    .paginate_Nextbutton,
    .paginate_Previousbutton {
        padding: 0px !important;
        border: 1px solid #80808070 !important;
        font-size: smaller;
        height: 25px !important;
        width: 25px !important;
    }

    .paginate_button,
    .paginate_Nextbutton,
    .paginate_Previousbutton {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .dataTables_info {
        font-size: small;
        font-weight: 600;
    }

    .dataTables_paginate {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 600;
    }

        .dataTables_paginate span {
            display: flex;
        }

    .paginate_button.current {
        background: #0dcaf0 !important;
        color: #fff !important;
        border: none;
    }

    thead.viewuploadtablehead {
        display: none !important;
        background-color: red;
    }

    .dataTables_wrapper {
        border-top: .5px solid rgba(0, 0, 0, 0.158);
    }

    tbody tr {
        flex-direction: column;
        border-bottom: .5px solid rgba(0, 0, 0, 0.158);
    }

    tbody td {
        border: none;
        padding: 4px 0px !important;
        width: 100% !important;
    }

    .viewfilebtn {
        display: flex !important;
    }
    .pagination_div{
        flex-wrap :wrap!important;
    }
        .pagination_div .info_div {
            width: 100% !important;
            text-align: center !important;
            justify-content: center;
            /*font-size: small;*/
            font-weight: 550;
        }
}

@media only screen and (max-width:400px) {
    .respadding {
        padding: 0.5rem
    }

    .viewcaseactionbtns {
        font-size: small
    }

    .container {
        --bs-gutter-x: 0.7rem;
    }

    .viewcaseactionbtns .h4 {
        font-size: medium;
        font-weight: 700;
    }

    .p-2px-3mx-2 {
        padding: 0.25rem 0.5rem;
        margin: 0rem 0.125rem;
        font-size: smaller;
    }

    .h3size {
        width: 40%;
        flex-wrap: wrap;
        display: flex;
        align-content: flex-end;
        align-items: baseline;
        font-size: 0.9rem;
    }

    .h6size {
        font-size: 0.7rem
    }

    .welcomespan {
        display: none;
    }
}
