.respadding {
    padding: 3rem
}

.resstartpadding {
    padding-left: 3rem
}

.displayflexorblock, .displayflexorblockwithpad {
    display: flex;
}

.p-2px-3mx-2 {
    padding: 0.5rem 1rem;
    margin: 0rem 0.5rem;
}

.h3size {
    font-size: 1.6rem;
}

.h6size {
}

.ps-2size {
    padding: 0rem .5rem
}

.px-5size {
    padding: 0rem 3rem;
}

.welcomespan {
}

.sidebaroffcanvasbtn {
    display: none;
}

.offcanvas {
    height: 93vh;
    transition : .5s;
}

.offcanvas-backdrop {
    position: absolute;
}

.maintabsul {
    margin: 0;
    padding-left: 0%;
}

#DataTables_Table_1_wrapper {
    display: none;
}
.acctable{
    display : none;
}
a{
    text-decoration : none
}

@media only screen and (max-width:1020px) {
    .respadding {
        padding: 1.5rem
    }
}

@media only screen and (max-width:800px) {
    .respadding {
        padding: 1rem
    }

    .resstartpadding {
        padding-left: 1rem
    }

    .displayflexorblock {
        display: block;
        padding: 1px;
        font-size: smaller;
    }

    .displayflexorblockwithpad {
        display: block;
        padding: 15px
    }

    .p-2px-3mx-2 {
        padding: 0.25rem 0.5rem;
        margin: 0rem 0.125rem;
        font-size: large;
    }

    .h3size {
        font-size: 1rem;
        font-weight: 700;
    }

    .h6size {
    }

    .ps-2size {
        padding: 0rem .1rem;
        font-size: smaller;
    }

    .px-5size {
        padding: 0rem 1rem;
    }
}

@media only screen and (max-width:700px) {
    .sidebaroffcanvasbtn {
        display: inline;
    }

    .resstartpadding {
        display: none;
    }

    .maintabsul .maintabs,
    .maintabsul .accordion-header.sidebar,
    .maintabsul .accordion-body.sidebar,
    .maintabsul .maintabs button.sidebar {
        margin: 0px;
        padding: 3% 10%;
        font-size: small;
        font-weight: 600;
    }

        .maintabsul .maintabs.active {
            background-color: #0dcaf04f;
        }
    .accordion-button:not(.collapsed).sidebar {
        color: inherit;
        box-shadow: none;
    }
    .accordion-button.sidebar {
        font-size: small;
        font-weight: 600;
    }
    .customaccordion.sidebar .accordion-button[aria-expanded="true"] {
        background-color: #0dcaf04f;
    }
    .accordion-button.sidebar:not(.collapsed) {
        background-color: #0dcaf04f;
    }
    .accordion-button::after.sidebar {
        margin-right: 5%;
    }
     .accordion-collapse.collapse.show ul {
        background-color: #0dcaf04f;
    }
    
    .restable{
        display : none;
    }
    .acctable{
        display : inline-table ;
    }
    #DataTables_Table_0_wrapper {
        display: none;
    }
    #DataTables_Table_1_wrapper {
        display: block;
    }

}

@media only screen and (max-width:400px) {
    .p-2px-3mx-2 {
        padding: 0.25rem 0.5rem;
        margin: 0rem 0.125rem;
        font-size: smaller;
    }

    .welcomespan {
        display: none;
    }
}
