#pending:checked + label .pendinground {
    border: 3px solid #9e758c
}

#approved:checked + label .approveround {
    border: 3px solid #7da882
}

.colorblue {
    background-color: blue;
}

.color98AFC7 {
    background-color: #98AFC7;
}

.color99c68e {
    background-color: #99c68e;
}

.colorC2B280 {
    background-color: #C2B280;
}

.color3090C7 {
    background-color: #3090C7;
}

.schedule-cell-dimension.e-schedule .e-vertical-view .e-date-header-wrap table col,
.schedule-cell-dimension.e-schedule .e-vertical-view .e-content-wrap table col {
    width: 200px;
}

.schedule-cell-dimension.e-schedule .e-vertical-view .e-time-cells-wrap table td,
.schedule-cell-dimension.e-schedule .e-vertical-view .e-work-cells {
    height: 100px;
}

.schedule-cell-dimension.e-schedule .e-month-view .e-work-cells,
.schedule-cell-dimension.e-schedule .e-month-view .e-date-header-wrap table col {
    width: 200px;
}

.schedule-cell-dimension.e-schedule .e-month-view .e-work-cells {
    height: 200px;
}